node-red/.flows.json.backup
[{"id":"4d34c979.7acd48","type":"tab","label":"Flux","disabled":false,"info":""},{"id":"c3c8a381.c1927","type":"tab","label":"Light Schedule [PRD]","disabled":false,"info":""},{"id":"f7e7a8ac.19a538","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"c6727c1e.1d54f","type":"tab","label":"deconz_event","disabled":false,"info":""},{"id":"9262859d.559bc8","type":"tab","label":"Ledge Strips Brightness Controller","disabled":false,"info":""},{"id":"d1f48851.ea8a08","type":"tab","label":"Push Notifications","disabled":false,"info":""},{"id":"4e00d3e0.bf207c","type":"tab","label":"deCONZ","disabled":true,"info":""},{"id":"d0661cff.7e5c6","type":"tab","label":"Garage Motion","disabled":false,"info":""},{"id":"1b9a9b6a.3dd0f5","type":"tab","label":"RGB Shuffler","disabled":false,"info":""},{"id":"dbd2ebf4.b8f648","type":"tab","label":"Presence","disabled":false,"info":""},{"id":"a5e69210.f37a9","type":"tab","label":"Automation Mode","disabled":false,"info":""},{"id":"abbc1f2.48c95e","type":"tab","label":"Chill Mode","disabled":false,"info":""},{"id":"b388976.2f76968","type":"tab","label":"Security","disabled":false,"info":""},{"id":"1c2e799b.e17e86","type":"subflow","name":"Man Cave Auto Scene","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1ad33a79.bcfbb6"}]}],"out":[{"x":780,"y":80,"wires":[{"id":"cf06adde.d4bc8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":780,"y":140,"wires":[{"id":"dae424d6.6e0b38","port":0}]}},{"id":"334bdfca.304fb","type":"subflow","name":"Light Group Service Call","info":"Call the light.turn_on service to change attributes like brightness, temperature, rgb, etc. for all entities in a group. Ignores lights that are turned off. Useful for adjusting a light group without inadvertently turning on other lights in the group.\n\n## Inputs\n\n(required) `msg.payload.group_id` set to the entity_id of the group, e.g. group.kitchen_lights\n\n(required) `msg.payload.service_data` set to a json object of service attributes for the light.turn_on service.\n\n\nExample payload:\n\n```\n{\n    \"group_id\": \"group.kitchen_lights\",\n    \"service_data\": {\n        \"brightness_step\": 50\n    }\n}\n```","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3430a23b.11092e"}]}],"out":[{"x":1480,"y":80,"wires":[{"id":"3e462361.78b1dc","port":0}]}],"env":[],"color":"#E6E0F8","icon":"font-awesome/fa-lightbulb-o","status":{"x":1260,"y":140,"wires":[{"id":"71cacd05.4a4054","port":0}]}},{"id":"ea924b33.c97d48","type":"subflow","name":"Master Bedroom Auto Scene","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"27c0bf74.75f7c"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"59ff308e.1a228","port":0}]}],"env":[],"color":"#FFAAAA","icon":"font-awesome/fa-adjust","status":{"x":640,"y":100,"wires":[{"id":"5d170fc2.95f3a","port":0}]}},{"id":"47ecb152.aed62","type":"subflow","name":"Laundry Room Auto Scene","info":"","category":"","in":[{"x":20,"y":20,"wires":[{"id":"23e8d1e6.064b6e"}]}],"out":[{"x":720,"y":60,"wires":[{"id":"f8dcb71.20d6848","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":700,"y":120,"wires":[{"id":"c94198a5.999958","port":0}]}},{"id":"3b8908a.fcea8f8","type":"subflow","name":"Light Group Increase Brightness","info":"Increase brightness of a light group without turning on lights in the group that are turned off.","category":"","in":[{"x":40,"y":60,"wires":[{"id":"85922967.04d138"}]}],"out":[{"x":820,"y":60,"wires":[{"id":"7c4ff98f.a61b98","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":520,"y":160,"wires":[{"id":"1f9de8e8.230de7","port":0}]}},{"id":"42ad5100.25527","type":"subflow","name":"Light Group Decrease Brightness","info":"Decrease brightness of a light group without turning on lights that are currently off, and without turning off the group when the minimum brightness is hit.","category":"","in":[{"x":20,"y":80,"wires":[{"id":"45351442.4ff2cc"}]}],"out":[{"x":920,"y":80,"wires":[{"id":"e4530942.d23ba8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":700,"y":180,"wires":[{"id":"e49a5dd.e1210a","port":0}]}},{"id":"bd7887b2.0cf798","type":"subflow","name":"House Is Dark?","info":"","category":"","in":[{"x":60,"y":100,"wires":[{"id":"468a5f5.229c2a"}]}],"out":[{"x":1260,"y":40,"wires":[{"id":"9e0f3dee.1f2b6","port":0}]},{"x":1260,"y":160,"wires":[{"id":"5e9092f0.64e8fc","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":1260,"y":100,"wires":[{"id":"4a48c0f0.5e053","port":0}]}},{"id":"a86c4410.e2a568","type":"server","z":"","name":"Home Assistant","legacy":false,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true},{"id":"e5627157.6cda8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1ce55a2.fcd558","type":"position-config","z":0,"name":"Silverleaf","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":99,"timeZoneDST":0,"stateTimeFormat":"3","stateDateFormat":"12"},{"id":"a5b7b1da.e5e93","type":"deconz-server","z":0,"name":"deCONZ","ip":"127.0.0.1","port":"40850","apikey":"8CEFBE7722","ws_port":"8081","secure":false,"polling":"15"},{"id":"ff59c515.6b4888","type":"switch","z":"c3c8a381.c1927","name":"IF (HOME, SUNSET)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sun.sun\" and $globalContext('automation_mode') in ['home', 'guest'] and payload = \"below_horizon\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":80,"wires":[["e6b8765b.74c7e8","d9c32efd.a799c"]]},{"id":"e6b8765b.74c7e8","type":"api-call-service","z":"c3c8a381.c1927","name":"Outside Scene - Sunset","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_sunset","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":80,"wires":[[]]},{"id":"d8664183.3795c","type":"switch","z":"c3c8a381.c1927","name":"IF (SUNRISE)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sun.sun\" and payload = \"above_horizon\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":720,"y":200,"wires":[["56987ed1.36142"]]},{"id":"56987ed1.36142","type":"api-call-service","z":"c3c8a381.c1927","name":"Outside Scene - Sunrise","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_sunrise","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":200,"wires":[[]]},{"id":"82f3e546.6ac108","type":"trigger-state","z":"c3c8a381.c1927","name":"State Trigger: sensor.time","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":190,"y":160,"wires":[["67e85155.6ad8c"],[]]},{"id":"76e1a905.a7ed98","type":"switch","z":"c3c8a381.c1927","name":"IF (HOME, 4PM)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sensor.time\" and payload = \"16:00\" and $globalContext('automation_mode') in ['home', 'guest']","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":730,"y":260,"wires":[["8ab9b9ad.8d7048"]]},{"id":"8ab9b9ad.8d7048","type":"api-call-service","z":"c3c8a381.c1927","name":"Ledge Flux On","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ledge_scene_flux","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1060,"y":260,"wires":[[]]},{"id":"d5a4bceb.bd591","type":"switch","z":"c3c8a381.c1927","name":"IF (NOT_HOME, SUNSET)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sun.sun\" and $globalContext('automation_mode') in ['away', 'vacation', 'sleep'] and payload = \"below_horizon\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":760,"y":140,"wires":[["b49fa9d7.5066a8"]]},{"id":"b49fa9d7.5066a8","type":"api-call-service","z":"c3c8a381.c1927","name":"Outside Scene - Security","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_security","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":140,"wires":[[]]},{"id":"8eeae444.3f6948","type":"comment","z":"4d34c979.7acd48","name":"Circadian Lightijng (using sun position)","info":"","x":770,"y":340,"wires":[]},{"id":"43bb9f54.4e777","type":"range","z":"4d34c979.7acd48","minin":"-90","maxin":"90","minout":"1","maxout":"6000","action":"clamp","round":true,"property":"payload.kelvin","name":"percent to kelvin range","x":720,"y":380,"wires":[["589fd94f.9b3b48"]]},{"id":"212eb7d9.de2628","type":"change","z":"4d34c979.7acd48","name":"","rules":[{"t":"set","p":"circadian_kelvin","pt":"flow","to":"payload.kelvin","tot":"msg"},{"t":"set","p":"circadian_percent","pt":"flow","to":"payload.percent","tot":"msg"},{"t":"set","p":"circadian_rgb","pt":"flow","to":"payload.rgb","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":380,"wires":[["cfefc5bd.c1f8e8","74fd7dfa.8bc6b4","6dce4c70.38a8a4","563153d7.8339fc"]]},{"id":"30098ea6.092542","type":"inject","z":"4d34c979.7acd48","name":"every 30 seconds","repeat":"30","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":130,"y":380,"wires":[["6cbd12eb.4fdaec"]]},{"id":"589fd94f.9b3b48","type":"function","z":"4d34c979.7acd48","name":"Kelvin to RGB","func":"// these functions were converted from Home Assistant's python version of it.\n// https://github.com/home-assistant/home-assistant/blob/05ecc5a1355c7af11b5d310470a6171528dc7a2b/homeassistant/util/color.py\n\nvar color_temperature_to_rgb = function(color_temperature_kelvin) {\n    /*\n    Return an RGB color from a color temperature in Kelvin.\n    This is a rough approximation based on the formula provided by T. Helland\n    http://www.tannerhelland.com/4435/convert-temperature-rgb-algorithm-code/\n    */\n    // range check\n    if(color_temperature_kelvin < 1000) {\n        color_temperature_kelvin = 1000;\n    } else if(color_temperature_kelvin > 40000) {\n        color_temperature_kelvin = 40000;\n    }\n\n    tmp_internal = color_temperature_kelvin / 100.0;\n\n    red = _get_red(tmp_internal);\n    green = _get_green(tmp_internal);\n    blue = _get_blue(tmp_internal);\n\n    return [red, green, blue];\n};\n\nvar _get_red = function(temperature) {\n    // Get the red component of the temperature in RGB space.\n    if(temperature <= 66){\n        return 255;\n    }\n    tmp_red = 329.698727446 * Math.pow(temperature - 60, -0.1332047592);\n    return _bound(tmp_red);\n}\n\nvar _get_green = function(temperature) {\n    // Get the green component of the given color temp in RGB space.\n    if(temperature <= 66){\n        green = 99.4708025861 * Math.log(temperature) - 161.1195681661;\n    } else {\n        green = 288.1221695283 * Math.pow(temperature - 60, -0.0755148492);\n    }\n    return _bound(green);\n}\n\nvar _get_blue = function(temperature) {\n    // Get the blue component of the given color temperature in RGB space.\n    if(temperature >= 66){\n        return 255;\n    } else if(temperature <= 19){\n        return 0;\n    }\n    blue = 138.5177312231 * Math.log(temperature - 10) - 305.0447927307;\n    return _bound(blue);\n}\n\nvar _bound = function(color_component, minimum=0, maximum=255) {\n    /*\n    Bound the given color component value between the given min and max values.\n    The minimum and maximum values will be included in the valid output.\n    i.e. Given a color_component of 0 and a minimum of 10, the returned value\n    will be 10.\n    */\n    color_component_out = Math.max(color_component, minimum);\n    return Math.min(color_component_out, maximum);\n}\n\nmsg.payload.rgb = color_temperature_to_rgb(msg.payload.kelvin);\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":380,"wires":[["212eb7d9.de2628"]]},{"id":"cb26bcab.f5c9a","type":"change","z":"4d34c979.7acd48","name":"","rules":[{"t":"set","p":"payload.kelvin","pt":"msg","to":"payload.altitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["43bb9f54.4e777","df89ff02.9c083"]]},{"id":"6cbd12eb.4fdaec","type":"sun-position","z":"4d34c979.7acd48","name":"","positionConfig":"f1ce55a2.fcd558","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":310,"y":380,"wires":[["cb26bcab.f5c9a"]]},{"id":"bf5b8cf1.ec4c2","type":"api-call-service","z":"4d34c979.7acd48","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.daylight_rgb","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":true,"x":1510,"y":480,"wires":[[]]},{"id":"74fd7dfa.8bc6b4","type":"function","z":"4d34c979.7acd48","name":"RGB Data","func":"return {\n    payload: {\n        \"data\": {\n            \"value\": flow.get(\"circadian_rgb\").toString()\n        }\n    }\n}","outputs":1,"noerr":0,"x":1290,"y":480,"wires":[["bf5b8cf1.ec4c2"]]},{"id":"6dce4c70.38a8a4","type":"function","z":"4d34c979.7acd48","name":"Kelvin Data","func":"return {\n    payload: {\n        \"data\": {\n            \"value\": flow.get(\"circadian_kelvin\")\n        }\n    }\n}","outputs":1,"noerr":0,"x":1290,"y":540,"wires":[["d9d4e40f.1e2f48"]]},{"id":"d9d4e40f.1e2f48","type":"api-call-service","z":"4d34c979.7acd48","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.daylight_kelvin","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":true,"x":1520,"y":540,"wires":[[]]},{"id":"84c393a7.19107","type":"change","z":"4d34c979.7acd48","name":"ledge_strips_are_fluxed := false","rules":[{"t":"set","p":"ledge_strips_are_fluxed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":840,"wires":[[]]},{"id":"2370ff74.227fc","type":"change","z":"4d34c979.7acd48","name":"ledge_strips_are_fluxed := true","rules":[{"t":"set","p":"ledge_strips_are_fluxed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":840,"wires":[[]]},{"id":"64981787.fd18f8","type":"http response","z":"4d34c979.7acd48","name":"","statusCode":"200","headers":{},"x":1520,"y":320,"wires":[]},{"id":"cfefc5bd.c1f8e8","type":"switch","z":"4d34c979.7acd48","d":true,"name":"is HTTP request","property":"res","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":320,"wires":[["64981787.fd18f8"]]},{"id":"22cf8df7.f3d6d2","type":"inject","z":"4d34c979.7acd48","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"altitude\":-90}","payloadType":"json","x":310,"y":440,"wires":[["cb26bcab.f5c9a"]]},{"id":"35f7fd2c.ffe4b2","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Lights On","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.ledge_strips","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"hj4iazjncr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"sg3tblo1wf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":460,"y":900,"wires":[["81f27104.74dee"],[]]},{"id":"81f27104.74dee","type":"api-current-state","z":"4d34c979.7acd48","name":"Ledge Fluxer Is On/Off","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ledge_fluxer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":760,"wires":[["e370794.1ab4688"],["84c393a7.19107"]]},{"id":"71cf9d8c.22c764","type":"api-current-state","z":"4d34c979.7acd48","name":"Ledge Strips Are On","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ledge_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":780,"wires":[["81f27104.74dee"],["84c393a7.19107"]]},{"id":"19c94091.dfe66f","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Lights Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.ledge_strips","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"2rk3lvyp7l2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":460,"y":1020,"wires":[["84c393a7.19107"],[]]},{"id":"f86ed797.9187e8","type":"server-state-changed","z":"c3c8a381.c1927","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":200,"y":80,"wires":[["67e85155.6ad8c"]]},{"id":"a0926286.bcb19","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Fluxer Switch On","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.ledge_fluxer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"82p99vyoycj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"yzhrxpc961p","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":430,"y":840,"wires":[["81f27104.74dee","b3966e3e.2167b"],[]]},{"id":"bba75229.a9d2","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Fluxer Switch Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.ledge_fluxer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"oh4eijwt2jq","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"9r55ag39yns","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":430,"y":960,"wires":[["84c393a7.19107"],[]]},{"id":"cc0617b9.6490c8","type":"link in","z":"4d34c979.7acd48","name":"Auto Updater","links":["563153d7.8339fc"],"x":55,"y":780,"wires":[["71cf9d8c.22c764"]]},{"id":"563153d7.8339fc","type":"link out","z":"4d34c979.7acd48","name":"Auto Updater","links":["cc0617b9.6490c8","17313e48.1a0442","5cab625f.7f6b3c"],"x":1255,"y":380,"wires":[]},{"id":"2300b7f.3df0c48","type":"server-events","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":320,"wires":[["1685addb.5ac622"]]},{"id":"1685addb.5ac622","type":"function","z":"c6727c1e.1d54f","name":"Config","func":"flow.set(\"dimmerSwitchEventIds\", [\n   \"man_cave_dimmer_switch\",\n   \"master_bedroom_dimmer_switch\",\n   \"living_room_dimmer_switch\",\n   \"guest_room_dimmer_switch\"\n]);\n\nflow.set(\"dimmerGroupIds\", [\n    \"group.man_cave_lights\"\n]);\n\nflow.set(\"dimmerSwitchOnPressEvent\", 1000);\nflow.set(\"dimmerSwitchOnHoldEvent\", 1001);\nflow.set(\"dimmerSwitchOnReleaseEvent\", 1002);\n\nflow.set(\"dimmerSwitchBrightnessUpPressEvent\", 2000);\nflow.set(\"dimmerSwitchBrightnessUpHoldEvent\", 2001);\nflow.set(\"dimmerSwitchBrightnessUpReleaseEvent\", 2002);\n\nflow.set(\"dimmerSwitchBrightnessDownPressEvent\", 3000);\nflow.set(\"dimmerSwitchBrightnessDownHoldEvent\", 3001);\nflow.set(\"dimmerSwitchBrightnessDownReleaseEvent\", 3002);\n\nflow.set(\"dimmerSwitchOffPressEvent\", 4000);\nflow.set(\"dimmerSwitchOffHoldEvent\", 4001);\nflow.set(\"dimmerSwitchOffReleaseEvent\", 4002);\n\nflow.set(\"tapSwitchEventIds\", [\n    \"tap_switch_1\"\n]);\n\nflow.set(\"tapSwitchPressI\", 34);\nflow.set(\"tapSwitchPressII\", 16);\nflow.set(\"tapSwitchPressIII\", 17);\nflow.set(\"tapSwitchPressIV\", 18);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["61566e8e.c582"]]},{"id":"61566e8e.c582","type":"switch","z":"c6727c1e.1d54f","name":"Devices","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchEventIds[0]","vt":"flow"},{"t":"eq","v":"dimmerSwitchEventIds[1]","vt":"flow"},{"t":"eq","v":"dimmerSwitchEventIds[2]","vt":"flow"},{"t":"eq","v":"dimmerSwitchEventIds[3]","vt":"flow"},{"t":"eq","v":"tapSwitchEventIds[0]","vt":"flow"}],"checkall":"true","repair":false,"outputs":5,"x":740,"y":320,"wires":[["975a74e9.ec9e08"],["49dab70e.08b9a8"],["49dab70e.08b9a8"],["247d4339.1b89ac"],["c1c8621b.2fb1e"]]},{"id":"3fe31cd8.6b35b4","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchOnPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOnHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffHoldEvent","vt":"flow"}],"checkall":"true","repair":false,"outputs":8,"x":1210,"y":300,"wires":[["d50459e2.af91d8"],["3193f7b5.211028"],["4d4cb5a0.5e603c"],["27a91cc7.2609e4"],["15a52c34.e626d4"],["25950e5a.0f0162"],["ecabf116.651d9"],[]]},{"id":"3193f7b5.211028","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.man_cave_scene_focus","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":300,"wires":[[]]},{"id":"ecabf116.651d9","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.man_cave_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":600,"wires":[[]]},{"id":"1ad33a79.bcfbb6","type":"api-current-state","z":"1c2e799b.e17e86","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"time","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["d647d482.63c1f8"]]},{"id":"d647d482.63c1f8","type":"function","z":"1c2e799b.e17e86","name":"Determine Scene","func":"var hr = parseInt(msg.time.substring(0, 2));\nvar sceneId = \"\";\n\nif (global.get(\"chill_mode\") == \"on\") {\n    sceneId = \"scene.man_cave_scene_wind_down\";\n}\nelse if (hr >= 4 && hr < 8) {\n    sceneId = \"scene.man_cave_scene_wake_up\";\n}\nelse if (hr >= 8 && hr < 11) {\n    sceneId = \"scene.man_cave_scene_warm_white\";\n}\nelse if (hr >= 11 && hr < 16) {\n    sceneId = \"scene.man_cave_scene_focus\";\n}\nelse if (hr >= 16 && hr < 22) {\n    sceneId = \"scene.man_cave_scene_sweet_tart\";    \n}\nelse if (hr >= 22 || hr < 4) {\n    sceneId = \"scene.man_cave_scene_wind_down\";\n}\n\nmsg.man_cave_scene_id = sceneId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":80,"wires":[["cf06adde.d4bc8"]]},{"id":"cf06adde.d4bc8","type":"api-call-service","z":"1c2e799b.e17e86","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{man_cave_scene_id}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":80,"wires":[[]]},{"id":"d50459e2.af91d8","type":"subflow:1c2e799b.e17e86","z":"c6727c1e.1d54f","name":"","env":[],"x":1460,"y":240,"wires":[[]]},{"id":"dae424d6.6e0b38","type":"status","z":"1c2e799b.e17e86","name":"","scope":["1ad33a79.bcfbb6","cf06adde.d4bc8"],"x":600,"y":140,"wires":[[]]},{"id":"dcfe0189.303cf","type":"api-current-state","z":"334bdfca.304fb","name":"Get Turned On Lights","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ payload }}","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":80,"wires":[["ae868c5c.7e546"],[]]},{"id":"109b05f5.6d12fa","type":"split","z":"334bdfca.304fb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":80,"wires":[["dcfe0189.303cf"]]},{"id":"ba19d76.6fff928","type":"api-current-state","z":"334bdfca.304fb","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ flow.group_id }}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":80,"wires":[["a5656ef5.212ce"]]},{"id":"a5656ef5.212ce","type":"change","z":"334bdfca.304fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["109b05f5.6d12fa"]]},{"id":"ae868c5c.7e546","type":"api-call-service","z":"334bdfca.304fb","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{ data.entity_id }}","data":"","dataType":"json","mergecontext":"service_data","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1190,"y":80,"wires":[["3e462361.78b1dc"]]},{"id":"3e462361.78b1dc","type":"join","z":"334bdfca.304fb","name":"","mode":"custom","build":"array","property":"data.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":80,"wires":[[]]},{"id":"3430a23b.11092e","type":"function","z":"334bdfca.304fb","name":"Setup Variables","func":"flow.set(\"group_id\", msg.payload.group_id);\nflow.set(\"service_data\", msg.payload.service_data);\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["ba19d76.6fff928"]]},{"id":"4d4cb5a0.5e603c","type":"change","z":"c6727c1e.1d54f","name":"Brightness +50","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness_step\":50}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":360,"wires":[["b54c88d8.8c0658"]]},{"id":"975a74e9.ec9e08","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"flow","to":"group.man_cave_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":300,"wires":[["3fe31cd8.6b35b4"]]},{"id":"b54c88d8.8c0658","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":360,"wires":[[]]},{"id":"71cacd05.4a4054","type":"status","z":"334bdfca.304fb","name":"","scope":["ae868c5c.7e546"],"x":1160,"y":140,"wires":[[]]},{"id":"27a91cc7.2609e4","type":"change","z":"c6727c1e.1d54f","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":420,"wires":[["ed216922.a369c8"]]},{"id":"ed216922.a369c8","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":420,"wires":[[]]},{"id":"15a52c34.e626d4","type":"change","z":"c6727c1e.1d54f","name":"Brightness -50","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness_step\":-50}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":480,"wires":[["1caa6dd7.d5c952"]]},{"id":"1caa6dd7.d5c952","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":480,"wires":[[]]},{"id":"25950e5a.0f0162","type":"change","z":"c6727c1e.1d54f","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness\":3}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":540,"wires":[["1e9eea50.248bb6"]]},{"id":"1e9eea50.248bb6","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":540,"wires":[[]]},{"id":"39103474.3dd8fc","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchOnPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOnHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffHoldEvent","vt":"flow"}],"checkall":"true","repair":false,"outputs":8,"x":1210,"y":760,"wires":[["8697b3b5.6b575"],[],["49419447.c7ca2c"],["8a833a79.b39998"],["2ad16649.f01bfa"],["e5357364.4f3bb"],["8d09fdf8.98d0a"],["4d9bb962.5ef998"]]},{"id":"8d09fdf8.98d0a","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_bedroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":1060,"wires":[[]]},{"id":"49dab70e.08b9a8","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"flow","to":"group.master_bedroom_lamps","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":760,"wires":[["39103474.3dd8fc"]]},{"id":"5d170fc2.95f3a","type":"status","z":"ea924b33.c97d48","name":"","scope":["59ff308e.1a228"],"x":540,"y":100,"wires":[[]]},{"id":"8697b3b5.6b575","type":"subflow:ea924b33.c97d48","z":"c6727c1e.1d54f","name":"","env":[],"x":1480,"y":700,"wires":[[]]},{"id":"4d9bb962.5ef998","type":"api-current-state","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1460,"y":1120,"wires":[["73ba33df.10a64c"],["4bb5243f.7e464c"]]},{"id":"4bb5243f.7e464c","type":"api-call-service","z":"c6727c1e.1d54f","name":"Back Yard Scene - Sleep","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.back_yard_scene_sleep","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1160,"wires":[[]]},{"id":"73ba33df.10a64c","type":"api-call-service","z":"c6727c1e.1d54f","name":"Back Yard Scene - Off","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.back_yard_scene_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":1100,"wires":[[]]},{"id":"27c0bf74.75f7c","type":"api-current-state","z":"ea924b33.c97d48","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.daylight_kelvin","state_type":"str","state_location":"kelvin","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":60,"wires":[["59ff308e.1a228"]]},{"id":"59ff308e.1a228","type":"api-call-service","z":"ea924b33.c97d48","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom_lights","data":"{\"kelvin\": {{kelvin}}, \"brightness\": 255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":60,"wires":[[]]},{"id":"5e540243.7630cc","type":"trigger-state","z":"f7e7a8ac.19a538","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hue_103_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"27mve08a4lj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":390,"y":80,"wires":[["d814d531.1255c8","520cc6d7.48db18"],[]]},{"id":"87d1725d.3d478","type":"inject","z":"f7e7a8ac.19a538","name":"detected","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_103_motion\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","x":120,"y":60,"wires":[["5e540243.7630cc"]]},{"id":"257443fa.bd49bc","type":"inject","z":"f7e7a8ac.19a538","name":"clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_103_motion\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","x":130,"y":100,"wires":[["5e540243.7630cc"]]},{"id":"520cc6d7.48db18","type":"subflow:47ecb152.aed62","z":"f7e7a8ac.19a538","name":"","env":[],"x":720,"y":80,"wires":[["1309328b.55f15d"]]},{"id":"23e8d1e6.064b6e","type":"api-current-state","z":"47ecb152.aed62","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"time","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":60,"wires":[["947d7356.6f253"]]},{"id":"947d7356.6f253","type":"function","z":"47ecb152.aed62","name":"Parse Time","func":"var hr = parseInt(msg.time.substring(0, 2));\nvar sceneId = \"\";\nif ((hr >= 4 && hr < 7) || (hr >= 21 && hr < 24)) {\n    sceneId = \"scene.laundry_room_scene_night\";\n}\nelse if (hr >= 7 && hr < 21) {\n    sceneId = \"scene.laundry_room_scene_bright\";\n}\nelse if (hr >= 0 && hr < 4) {\n    sceneId = \"scene.laundry_room_scene_late_night\";    \n}\n\nmsg.scene_id = sceneId;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":60,"wires":[["f8dcb71.20d6848"]]},{"id":"f8dcb71.20d6848","type":"api-call-service","z":"47ecb152.aed62","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{scene_id}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":60,"wires":[[]]},{"id":"c94198a5.999958","type":"status","z":"47ecb152.aed62","name":"","scope":["f8dcb71.20d6848"],"x":580,"y":120,"wires":[[]]},{"id":"8a833a79.b39998","type":"change","z":"c6727c1e.1d54f","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.master_bedroom_lamps\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":820,"wires":[["2868e10f.d9f42e"]]},{"id":"2868e10f.d9f42e","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":820,"wires":[[]]},{"id":"e5357364.4f3bb","type":"change","z":"c6727c1e.1d54f","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.master_bedroom_lamps\",\"service_data\":{\"brightness\":3}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":940,"wires":[["e411bd5a.c4eaf"]]},{"id":"e411bd5a.c4eaf","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":940,"wires":[[]]},{"id":"49419447.c7ca2c","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group_id","tot":"flow"},{"t":"set","p":"light_id","pt":"msg","to":"light.master_bedroom_lights","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":760,"wires":[["a4ed5c9a.00f78"]]},{"id":"85922967.04d138","type":"api-current-state","z":"3b8908a.fcea8f8","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ light_id }}","state_type":"str","state_location":"state","override_payload":"flow","entity_location":"entity","override_data":"flow","blockInputOverrides":false,"x":230,"y":60,"wires":[["782cf826.53d368"]]},{"id":"782cf826.53d368","type":"function","z":"3b8908a.fcea8f8","name":"","func":"var brightness = flow.get(\"entity\").attributes.brightness;\nvar group_id = msg.group_id;\nvar interval = msg.brightness_interval;\n\nbrightness = brightness + interval;\n\nif (brightness > 254) {\n    brightness = 255;\n}\n\nmsg.payload = {\n    \"group_id\": group_id,\n    \"service_data\": {\n        \"brightness\": brightness\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["7c4ff98f.a61b98"]]},{"id":"7c4ff98f.a61b98","type":"subflow:334bdfca.304fb","z":"3b8908a.fcea8f8","name":"","env":[],"x":650,"y":60,"wires":[[]]},{"id":"2ad16649.f01bfa","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group_id","tot":"flow"},{"t":"set","p":"light_id","pt":"msg","to":"light.master_bedroom_lights","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":880,"wires":[["223b2b69.cc0644"]]},{"id":"45351442.4ff2cc","type":"api-current-state","z":"42ad5100.25527","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ light_id }}","state_type":"str","state_location":"state","override_payload":"flow","entity_location":"entity","override_data":"flow","blockInputOverrides":false,"x":210,"y":80,"wires":[["3d78e0.b23ce72"]]},{"id":"3d78e0.b23ce72","type":"function","z":"42ad5100.25527","name":"","func":"var group_id = msg.group_id;\nvar brightness = flow.get(\"entity\").attributes.brightness;\nvar interval = msg.brightness_interval ? msg.brightness_interval : 50;\n\nbrightness = brightness - interval;\nif (brightness < 3) {\n    brightness = 3;\n}\n\nmsg.payload = {\n    \"group_id\": group_id,\n    \"service_data\": {\n        \"brightness\": brightness\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["e4530942.d23ba8"]]},{"id":"e4530942.d23ba8","type":"subflow:334bdfca.304fb","z":"42ad5100.25527","name":"","env":[],"x":710,"y":80,"wires":[[]]},{"id":"1f9de8e8.230de7","type":"status","z":"3b8908a.fcea8f8","name":"","scope":["7c4ff98f.a61b98"],"x":400,"y":160,"wires":[[]]},{"id":"a4ed5c9a.00f78","type":"subflow:3b8908a.fcea8f8","z":"c6727c1e.1d54f","name":"","x":1690,"y":760,"wires":[[]]},{"id":"223b2b69.cc0644","type":"subflow:42ad5100.25527","z":"c6727c1e.1d54f","x":1700,"y":880,"wires":[[]]},{"id":"e49a5dd.e1210a","type":"status","z":"42ad5100.25527","name":"","scope":["e4530942.d23ba8"],"x":580,"y":180,"wires":[[]]},{"id":"e370794.1ab4688","type":"function","z":"4d34c979.7acd48","name":"Svc Data","func":"msg.payload = {\n    \"group_id\": \"group.great_room_strips\",\n    \"service_data\": {\n        \"kelvin\": flow.get(\"circadian_kelvin\"),\n        \"transition\": flow.get(\"ledge_strips_are_fluxed\") ? 30 : 3,\n        \"brightness\": flow.get(\"circadian_brightness\")\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1060,"y":760,"wires":[["eaefd140.4ab73"]]},{"id":"eaefd140.4ab73","type":"subflow:334bdfca.304fb","z":"4d34c979.7acd48","name":"","env":[],"x":1310,"y":760,"wires":[["2370ff74.227fc"]]},{"id":"c48cc157.35d3a","type":"server-events","z":"9262859d.559bc8","name":"","server":"a86c4410.e2a568","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":330,"y":320,"wires":[["e3a5bc6f.7cfb8"]]},{"id":"e3a5bc6f.7cfb8","type":"switch","z":"9262859d.559bc8","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.ledge_strips_brightness_increase","vt":"str"},{"t":"eq","v":"script.ledge_strips_brightness_decrease","vt":"str"},{"t":"eq","v":"script.ledge_strips_brightness_max","vt":"str"},{"t":"eq","v":"script.ledge_strips_brightness_min","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":320,"wires":[["adc81db3.319bd"],["33db0149.d158ae"],["3b48b48a.ec20cc"],["573fdce2.09afa4"]]},{"id":"a5dcc74c.c40298","type":"subflow:3b8908a.fcea8f8","z":"9262859d.559bc8","name":"","x":990,"y":240,"wires":[[]]},{"id":"67a8cf00.a3cd6","type":"subflow:42ad5100.25527","z":"9262859d.559bc8","name":"","x":1000,"y":300,"wires":[[]]},{"id":"adc81db3.319bd","type":"change","z":"9262859d.559bc8","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group.ledge_strips","tot":"str"},{"t":"set","p":"light_id","pt":"msg","to":"light.ledge_strips","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["a5dcc74c.c40298"]]},{"id":"33db0149.d158ae","type":"change","z":"9262859d.559bc8","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group.ledge_strips","tot":"str"},{"t":"set","p":"light_id","pt":"msg","to":"light.ledge_strips","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":300,"wires":[["67a8cf00.a3cd6"]]},{"id":"ae65deba.ab696","type":"subflow:334bdfca.304fb","z":"9262859d.559bc8","name":"","x":970,"y":360,"wires":[[]]},{"id":"3b48b48a.ec20cc","type":"change","z":"9262859d.559bc8","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.ledge_strips\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["ae65deba.ab696"]]},{"id":"2c318d7c.537d02","type":"subflow:334bdfca.304fb","z":"9262859d.559bc8","name":"","x":970,"y":420,"wires":[[]]},{"id":"573fdce2.09afa4","type":"change","z":"9262859d.559bc8","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.ledge_strips\",\"service_data\":{\"brightness\":1}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[["2c318d7c.537d02"]]},{"id":"b3966e3e.2167b","type":"api-call-service","z":"4d34c979.7acd48","name":"Turn off Great Room Shuffler","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.great_room_shuffler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":700,"wires":[[]]},{"id":"ef9dca67.5f5ab8","type":"trigger-state","z":"d1f48851.ea8a08","name":"Time == 21:00","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"h3dxej3ke5w","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"21:00"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":420,"y":340,"wires":[["a1581e14.efa7d"],[]]},{"id":"a1581e14.efa7d","type":"api-current-state","z":"d1f48851.ea8a08","name":"Garage Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":340,"wires":[["f22a597.e0ed5a8"],[]]},{"id":"a947c96a.cc01b8","type":"api-call-service","z":"d1f48851.ea8a08","name":"Notify Andrew - Garage Door","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"title\":\"Garage Left Open\",\"message\":\"Don't forget to close it tonight!\",\"data\":{\"actions\":[{\"action\":\"notify_action_close_garage\",\"title\":\"Close Now\"},{\"action\":\"notify_action_close_garage_snooze\",\"title\":\"Snooze 1hr\"}],\"tag\":\"notify_close_garage\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":340,"wires":[[]]},{"id":"dfbde3c2.e5d06","type":"server-events","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":310,"y":1040,"wires":[["cc14a900.095218","26cfdfdd.934ac","f1dce928.8d2238","c62a7254.37995"]]},{"id":"cc14a900.095218","type":"switch","z":"d1f48851.ea8a08","name":"Close Garage","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_close_garage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":1040,"wires":[["10cfba2.08dba46"]]},{"id":"32d9d84e.dd7988","type":"api-call-service","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":1040,"wires":[[]]},{"id":"5f7af048.2fa5b","type":"inject","z":"d1f48851.ea8a08","name":"TEST - 9PM","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"sensor.time\",\"old_state\":{\"state\":\"20:59\"},\"new_state\":{\"state\":\"21:00\"}}","payloadType":"json","x":170,"y":340,"wires":[["ef9dca67.5f5ab8"]]},{"id":"10cfba2.08dba46","type":"api-current-state","z":"d1f48851.ea8a08","name":"Garage Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":1040,"wires":[["b35130f2.18593"],[]]},{"id":"9a464a59.d2a138","type":"inject","z":"d1f48851.ea8a08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Debug","payload":"true","payloadType":"bool","x":860,"y":100,"wires":[["489a3adc.3bb894"]]},{"id":"e139ba3.0700e48","type":"inject","z":"d1f48851.ea8a08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Debug","payload":"false","payloadType":"bool","x":870,"y":140,"wires":[["489a3adc.3bb894"]]},{"id":"489a3adc.3bb894","type":"change","z":"d1f48851.ea8a08","name":"","rules":[{"t":"set","p":"debug","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":120,"wires":[[]]},{"id":"b35130f2.18593","type":"switch","z":"d1f48851.ea8a08","name":"","property":"debug","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":1040,"wires":[[],["32d9d84e.dd7988"]]},{"id":"117e9460.a3892c","type":"inject","z":"d1f48851.ea8a08","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"Startup","payload":"","payloadType":"str","x":180,"y":80,"wires":[["7d78b4f8.23c34c"]]},{"id":"7d78b4f8.23c34c","type":"change","z":"d1f48851.ea8a08","name":"","rules":[{"t":"set","p":"notify_service_andrews_phone","pt":"flow","to":"mobile_app_galaxy_s10_mobile_app","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[[]]},{"id":"f22a597.e0ed5a8","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a5c9ca97.4a1be8"],"x":815,"y":340,"wires":[]},{"id":"a5c9ca97.4a1be8","type":"link in","z":"d1f48851.ea8a08","name":"","links":["f22a597.e0ed5a8","74303e34.7e993"],"x":1375,"y":340,"wires":[["a947c96a.cc01b8"]]},{"id":"402a210c.3ecb7","type":"api-call-service","z":"d1f48851.ea8a08","name":"Dismiss Andrew - Garage Door","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"notify_close_garage\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":400,"wires":[[]]},{"id":"62eb2629.ef5988","type":"trigger-state","z":"d1f48851.ea8a08","name":"Garage == Closed","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"d35ta03cu4","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":430,"y":420,"wires":[["35344c4.61c03b4"],[]]},{"id":"35344c4.61c03b4","type":"link out","z":"d1f48851.ea8a08","name":"","links":["ed3ccd2.687913","812d89ab.773bc8","1fe29f88.4f0b8"],"x":575,"y":420,"wires":[]},{"id":"ed3ccd2.687913","type":"link in","z":"d1f48851.ea8a08","name":"","links":["35344c4.61c03b4"],"x":1375,"y":400,"wires":[["402a210c.3ecb7"]]},{"id":"4e142c87.db3074","type":"inject","z":"d1f48851.ea8a08","name":"TEST - CLOSE GARAGE","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"cover.garage_door\",\"old_state\":{\"state\":\"closing\"},\"new_state\":{\"state\":\"closed\"}}","payloadType":"json","x":150,"y":420,"wires":[["62eb2629.ef5988"]]},{"id":"f003a50a.dc85f8","type":"comment","z":"d1f48851.ea8a08","name":"--TRIGGERS--","info":"","x":420,"y":260,"wires":[]},{"id":"83ff35d8.8098b8","type":"comment","z":"d1f48851.ea8a08","name":"--NOTIFICATIONS--","info":"","x":1530,"y":280,"wires":[]},{"id":"70273380.5c55dc","type":"comment","z":"d1f48851.ea8a08","name":"--NOTIFICATION ACTIONS--","info":"","x":280,"y":980,"wires":[]},{"id":"26cfdfdd.934ac","type":"switch","z":"d1f48851.ea8a08","name":"Close Garage Snooze","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_close_garage_snooze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1140,"wires":[["de04cad8.d4e5c8"]]},{"id":"de04cad8.d4e5c8","type":"trigger","z":"d1f48851.ea8a08","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","outputs":1,"x":870,"y":1140,"wires":[["837ea70.bd8d858"]]},{"id":"837ea70.bd8d858","type":"api-current-state","z":"d1f48851.ea8a08","name":"Garage Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":1140,"wires":[["74303e34.7e993"],[]]},{"id":"74303e34.7e993","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a5c9ca97.4a1be8"],"x":1195,"y":1140,"wires":[]},{"id":"812d89ab.773bc8","type":"link in","z":"d1f48851.ea8a08","name":"","links":["35344c4.61c03b4"],"x":595,"y":1200,"wires":[["27c93f5c.5d22e"]]},{"id":"27c93f5c.5d22e","type":"change","z":"d1f48851.ea8a08","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1200,"wires":[["de04cad8.d4e5c8"]]},{"id":"d814d531.1255c8","type":"change","z":"f7e7a8ac.19a538","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[["8928f1f3.842a"]]},{"id":"f5fa066f.2366b8","type":"api-call-service","z":"f7e7a8ac.19a538","name":"Laundry Room Lights Off","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.laundry_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1310,"y":40,"wires":[[]]},{"id":"1309328b.55f15d","type":"ha-wait-until","z":"f7e7a8ac.19a538","name":"Wait for No Motion","server":"a86c4410.e2a568","outputs":1,"entityId":"binary_sensor.hue_103_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":950,"y":80,"wires":[["8928f1f3.842a"]]},{"id":"c1c8621b.2fb1e","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"tapSwitchPressI","vt":"flow"},{"t":"eq","v":"tapSwitchPressII","vt":"flow"},{"t":"eq","v":"tapSwitchPressIII","vt":"flow"},{"t":"eq","v":"tapSwitchPressIV","vt":"flow"}],"checkall":"true","repair":false,"outputs":4,"x":1070,"y":1780,"wires":[["b3792916.28b4a8"],["1eaf56a7.146269"],["fcbf595e.fb41a8"],["a90745c6.d5fcd8"]]},{"id":"8e67f350.378e","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn on Ledge Strips","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledge_strips","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1580,"y":1720,"wires":[["53e2827c.ca0a2c"]]},{"id":"8847040c.233cd8","type":"api-call-service","z":"d1f48851.ea8a08","name":"Notify Andrew - Catio","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"title\":\"Catio Left Open\",\"message\":\"Don't forget to close the catio!\",\"data\":{\"actions\":[{\"action\":\"notify_action_close_catio_snooze\",\"title\":\"Snooze 1hr\"}],\"tag\":\"notify_close_catio\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":480,"wires":[[]]},{"id":"f1dce928.8d2238","type":"switch","z":"d1f48851.ea8a08","name":"Close Catio Snooze","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_close_catio_snooze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1280,"wires":[["b57cae1d.8e2fb"]]},{"id":"b57cae1d.8e2fb","type":"trigger","z":"d1f48851.ea8a08","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","outputs":1,"x":870,"y":1280,"wires":[["85aa99c4.1193c8"]]},{"id":"85aa99c4.1193c8","type":"api-current-state","z":"d1f48851.ea8a08","name":"Catio Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.catio_door_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1050,"y":1280,"wires":[["d9fa1f1b.d29b8"],[]]},{"id":"a8a6e08c.f44c6","type":"link in","z":"d1f48851.ea8a08","name":"","links":["d9fa1f1b.d29b8","273513e7.a6ca9c"],"x":1375,"y":480,"wires":[["8847040c.233cd8"]]},{"id":"d9fa1f1b.d29b8","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a8a6e08c.f44c6","72fe1827.24d8b8","df34f038.6410d"],"x":1180,"y":1280,"wires":[]},{"id":"f207ed69.aef8","type":"trigger-state","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.catio_door_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ualc9almp4","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":520,"y":500,"wires":[["c3210f61.2fddc"],["91bfa7ec.3f0028","6a20862c.8ff338"]]},{"id":"91bfa7ec.3f0028","type":"link out","z":"d1f48851.ea8a08","name":"","links":["d8f8d393.e4651","1fe29f88.4f0b8","b18d41cc.d7839","1f6e654f.49eb9b"],"x":755,"y":560,"wires":[]},{"id":"63360d40.6b3794","type":"api-call-service","z":"d1f48851.ea8a08","name":"Dismiss Andrew - Catio","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"notify_close_catio\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":540,"wires":[[]]},{"id":"d8f8d393.e4651","type":"link in","z":"d1f48851.ea8a08","name":"","links":["91bfa7ec.3f0028"],"x":1375,"y":540,"wires":[["63360d40.6b3794"]]},{"id":"e234170b.377878","type":"inject","z":"d1f48851.ea8a08","name":"TEST - OPEN CATIO","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.catio_door_sensor\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","x":140,"y":480,"wires":[["f207ed69.aef8"]]},{"id":"9dff62b6.0c4ee","type":"inject","z":"d1f48851.ea8a08","name":"TEST - CLOSE CATIO","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.catio_door_sensor\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","x":140,"y":520,"wires":[["f207ed69.aef8"]]},{"id":"c3210f61.2fddc","type":"trigger","z":"d1f48851.ea8a08","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","outputs":1,"x":970,"y":480,"wires":[["273513e7.a6ca9c"]]},{"id":"6a20862c.8ff338","type":"change","z":"d1f48851.ea8a08","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["c3210f61.2fddc"]]},{"id":"273513e7.a6ca9c","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a8a6e08c.f44c6","72fe1827.24d8b8","df34f038.6410d"],"x":1075,"y":480,"wires":[]},{"id":"1fe29f88.4f0b8","type":"link in","z":"d1f48851.ea8a08","name":"","links":["35344c4.61c03b4","91bfa7ec.3f0028"],"x":595,"y":1340,"wires":[["12510855.fadfa8"]]},{"id":"12510855.fadfa8","type":"change","z":"d1f48851.ea8a08","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1340,"wires":[["b57cae1d.8e2fb"]]},{"id":"561b5996.8c0308","type":"http request","z":"4e00d3e0.bf207c","name":"Get API Key","method":"use","ret":"obj","paytoqs":"ignore","url":"http://127.0.0.1:40850/api","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":580,"wires":[["7cff6501.1a866c"]]},{"id":"1230a5a7.3a47ba","type":"inject","z":"4e00d3e0.bf207c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":580,"wires":[["3605afe9.4abda"]]},{"id":"d6abb125.2a325","type":"comment","z":"4e00d3e0.bf207c","name":"Generate new API key","info":"","x":340,"y":520,"wires":[]},{"id":"3605afe9.4abda","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://127.0.0.1:40850/api","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"devicetype\":\"hassnodered\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":580,"wires":[["561b5996.8c0308"]]},{"id":"7cff6501.1a866c","type":"switch","z":"4e00d3e0.bf207c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"403","vt":"str"},{"t":"eq","v":"404","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":580,"wires":[["1dcd26f4.1e89a9"],["be15ffe4.e2149"],["dd0da02e.5be99"],["8d9ade53.3de2a"]]},{"id":"1dcd26f4.1e89a9","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"\"Success! Your new API key is \" & msg.payload[0].success.username","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":500,"wires":[["360fabb4.afe634"]]},{"id":"be15ffe4.e2149","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"You probably forgot to press the Link button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":560,"wires":[["360fabb4.afe634"]]},{"id":"dd0da02e.5be99","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"Check your URL, make sure to choose POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":620,"wires":[["360fabb4.afe634"]]},{"id":"8d9ade53.3de2a","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"Check payload for error details","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":680,"wires":[["360fabb4.afe634"]]},{"id":"360fabb4.afe634","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":580,"wires":[]},{"id":"fed3f347.dcfbb","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:04:b6:67:9e-02-0406","device_name":"Man Cave Motion Sensor : ZHAPresence","state":"0","x":490,"y":880,"wires":[["e67e1cba.5a9f6"]]},{"id":"62d79ce0.267714","type":"inject","z":"4e00d3e0.bf207c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":880,"wires":[["fed3f347.dcfbb"]]},{"id":"e67e1cba.5a9f6","type":"function","z":"4e00d3e0.bf207c","name":"","func":"var id = msg.meta.device_id;\n\nvar url = flow.get(\"deconz_api_url\");\nvar port = flow.get(\"deconz_api_port\");\nvar key = flow.get(\"deconz_api_key\");\n\nmsg.url = url + ':' + port + '/api/' + key + '/sensors/' + id + \"/config\";\n\nmsg.payload = {\n    \"sensitivity\": 4\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":880,"wires":[["44252af.e630fd4"]]},{"id":"44252af.e630fd4","type":"http request","z":"4e00d3e0.bf207c","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":880,"wires":[["ac7b4c16.bdef9"]]},{"id":"ac7b4c16.bdef9","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":880,"wires":[]},{"id":"5083e002.84a08","type":"inject","z":"4e00d3e0.bf207c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":320,"wires":[["2dd61e98.d969f2"]]},{"id":"2dd61e98.d969f2","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"deconz_api_url","pt":"flow","to":"http://127.0.0.1","tot":"str"},{"t":"set","p":"deconz_api_port","pt":"flow","to":"40850","tot":"str"},{"t":"set","p":"deconz_api_key","pt":"flow","to":"8CEFBE7722","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["e06a9b58.90bdf8"]]},{"id":"87ac2957.676fa8","type":"server-state-changed","z":"4e00d3e0.bf207c","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.hue_201_motion_sensitivity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":250,"y":980,"wires":[["44a0bcc4.8fa004"]]},{"id":"44a0bcc4.8fa004","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"new_sensitivity","pt":"flow","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":980,"wires":[["1bcbc07e.c28ef"]]},{"id":"1bcbc07e.c28ef","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:06:45:7a:3e-02-0406","device_name":"Hue 201 : ZHAPresence","state":"0","x":870,"y":980,"wires":[["1b24c0f5.76dbef"]]},{"id":"1b24c0f5.76dbef","type":"function","z":"4e00d3e0.bf207c","name":"","func":"var id = msg.meta.device_id;\n\nvar url = flow.get(\"deconz_api_url\");\nvar port = flow.get(\"deconz_api_port\");\nvar key = flow.get(\"deconz_api_key\");\n\nmsg.url = url + ':' + port + '/api/' + key + '/sensors/' + id + \"/config\";\n\nmsg.payload = {\n    \"sensitivity\": flow.get(\"new_sensitivity\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":980,"wires":[["f27dcbe5.331868"]]},{"id":"f27dcbe5.331868","type":"http request","z":"4e00d3e0.bf207c","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":980,"wires":[["6a7ade0.f6fd024"]]},{"id":"6a7ade0.f6fd024","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":980,"wires":[]},{"id":"e06a9b58.90bdf8","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:06:45:7a:3e-02-0406","device_name":"Hue 201 : ZHAPresence","state":"0","x":610,"y":320,"wires":[["5e5b39a4.aea3b8"]]},{"id":"5e5b39a4.aea3b8","type":"function","z":"4e00d3e0.bf207c","name":"","func":"msg.payload = {\n    'data': {\n        'value': parseInt(msg.meta.config.sensitivity)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":320,"wires":[["d101cbd6.a48968"]]},{"id":"d101cbd6.a48968","type":"api-call-service","z":"4e00d3e0.bf207c","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.hue_201_motion_sensitivity","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":320,"wires":[[]]},{"id":"e77386cf.2e8968","type":"inject","z":"4e00d3e0.bf207c","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"\"0\"","payload":"4","payloadType":"str","x":390,"y":1060,"wires":[["44a0bcc4.8fa004"]]},{"id":"e709b846.558fc8","type":"trigger-state","z":"d0661cff.7e5c6","name":"Garage Motion","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hue_201_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"27mve08a4lj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":360,"wires":[["5e002aca.e0d7a4"],[]]},{"id":"4916868.f91d378","type":"inject","z":"d0661cff.7e5c6","name":"detected","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_201_motion\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","x":100,"y":340,"wires":[["e709b846.558fc8"]]},{"id":"cd8bec5c.590f7","type":"inject","z":"d0661cff.7e5c6","name":"clear","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_201_motion\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","x":90,"y":400,"wires":[["e709b846.558fc8"]]},{"id":"fa035f14.05298","type":"switch","z":"d0661cff.7e5c6","name":"STUB SWITCH","property":"automation_mode_stub","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":360,"wires":[["1091bb52.611765"],["7dca9442.2f7d4c"]]},{"id":"92ab5997.22abb8","type":"switch","z":"d0661cff.7e5c6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"automation_mode_state in ['home', 'guest']","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":420,"wires":[["bc5b3bf0.db91b8","79827f19.ecf97","2b9d0c4b.87ff64"]]},{"id":"799d74d.ef6c28c","type":"api-current-state","z":"d0661cff.7e5c6","name":"Light Level < 50","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"50","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.hue_201_lux","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1520,"y":200,"wires":[["b88d1269.9bb63"],[]]},{"id":"b88d1269.9bb63","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn On Garage Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":200,"wires":[[]]},{"id":"1d6a453e.cf03cb","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn On Garage Fan","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.ikea_outlet_103","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":260,"wires":[[]]},{"id":"b64bd49d.544a28","type":"api-current-state","z":"d0661cff.7e5c6","name":"Temp > 76","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"76","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.hue_201_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1510,"y":260,"wires":[["1d6a453e.cf03cb"],[]]},{"id":"bc5b3bf0.db91b8","type":"ha-wait-until","z":"d0661cff.7e5c6","name":"Wait Until No Motion","server":"a86c4410.e2a568","outputs":1,"entityId":"binary_sensor.hue_201_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1340,"y":440,"wires":[["e4177f42.5aa4f"]]},{"id":"ad7336a1.813cd8","type":"trigger","z":"d0661cff.7e5c6","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","outputs":1,"x":1730,"y":440,"wires":[["9434e2e.0c5142","e36df48e.d84e38","689e19a9.739718","24f06ab5.aac606"]]},{"id":"9434e2e.0c5142","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn Off Garage Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":440,"wires":[[]]},{"id":"e36df48e.d84e38","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn Off Garage Fan","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ikea_outlet_103","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":500,"wires":[[]]},{"id":"689e19a9.739718","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"armed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":560,"wires":[[]]},{"id":"4d30744e.7f095c","type":"inject","z":"d0661cff.7e5c6","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":690,"y":180,"wires":[["393d4719.97f458"]]},{"id":"393d4719.97f458","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"armed","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"1_hr_disable","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[[]]},{"id":"79827f19.ecf97","type":"switch","z":"d0661cff.7e5c6","name":"Is Armed?","property":"armed","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":300,"wires":[["799d74d.ef6c28c","b64bd49d.544a28","544de507.8e8a3c","9b991c1d.8b7e5"]]},{"id":"2b9d0c4b.87ff64","type":"change","z":"d0661cff.7e5c6","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":380,"wires":[["ad7336a1.813cd8"]]},{"id":"544de507.8e8a3c","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"armed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":320,"wires":[[]]},{"id":"4345b8c3.db47e8","type":"server-events","z":"d0661cff.7e5c6","name":"","server":"a86c4410.e2a568","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":830,"y":500,"wires":[["ed082627.fbb288"]]},{"id":"ed082627.fbb288","type":"switch","z":"d0661cff.7e5c6","name":"1 hour disable","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.disable_garage_motion_1_hr","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":500,"wires":[["2b9d0c4b.87ff64","c42c78d9.1ce6b8"]]},{"id":"5e002aca.e0d7a4","type":"switch","z":"d0661cff.7e5c6","name":"","property":"1_hr_disable","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":360,"wires":[["fa035f14.05298"]]},{"id":"c42c78d9.1ce6b8","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"1_hr_disable","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":600,"wires":[["1fa1c63.26ab63a"]]},{"id":"1fa1c63.26ab63a","type":"trigger","z":"d0661cff.7e5c6","name":"","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"60","extend":false,"units":"min","reset":"","bytopic":"all","outputs":1,"x":1290,"y":600,"wires":[["278d6339.de612c"]]},{"id":"278d6339.de612c","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"1_hr_disable","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"armed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":600,"wires":[["bc5b3bf0.db91b8"]]},{"id":"9b991c1d.8b7e5","type":"api-call-service","z":"d0661cff.7e5c6","name":"Tablet On","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lenovo_tablet_701_backlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":140,"wires":[[]]},{"id":"24f06ab5.aac606","type":"api-call-service","z":"d0661cff.7e5c6","name":"Tablet Off","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lenovo_tablet_701_backlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":380,"wires":[[]]},{"id":"2eb2e6e.51dc61a","type":"inject","z":"d0661cff.7e5c6","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1300,"y":680,"wires":[["278d6339.de612c"]]},{"id":"e4177f42.5aa4f","type":"switch","z":"d0661cff.7e5c6","name":"","property":"1_hr_disable","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":440,"wires":[["ad7336a1.813cd8"]]},{"id":"fdb9eb17.902f78","type":"trigger-state","z":"d1f48851.ea8a08","name":"Every hour","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"tea2ba72fl","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"re","comparatorValue":"\\d\\d:\\b00\\b"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":410,"y":620,"wires":[["1ad1d978.a10bc7"],[]]},{"id":"e7f31cd8.62323","type":"inject","z":"d1f48851.ea8a08","name":"TEST - 12PM","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"sensor.time\",\"old_state\":{\"state\":\"11:59\"},\"new_state\":{\"state\":\"12:00\"}}","payloadType":"json","x":170,"y":620,"wires":[["fdb9eb17.902f78"]]},{"id":"1ad1d978.a10bc7","type":"api-current-state","z":"d1f48851.ea8a08","name":"Back Yard Lights Unavailable?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"unavailable","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.back_yard_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":690,"y":620,"wires":[["c8709b18.eba7e8"],["a5d0317a.433e2"]]},{"id":"c8709b18.eba7e8","type":"counter","z":"d1f48851.ea8a08","name":"","init":"0","step":"1","lower":"0","upper":"2","mode":"increment","outputs":"1","x":960,"y":620,"wires":[["d49c4e3.81418b","2577d0d4.b9cb9"]]},{"id":"a5d0317a.433e2","type":"change","z":"d1f48851.ea8a08","name":"","rules":[{"t":"set","p":"decrement","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":700,"wires":[["c8709b18.eba7e8"]]},{"id":"d49c4e3.81418b","type":"switch","z":"d1f48851.ea8a08","name":"","property":"countUpperLimitReached","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1090,"y":620,"wires":[["6e56a528.4405dc"]]},{"id":"616fde4d.d8f4a","type":"api-call-service","z":"d1f48851.ea8a08","name":"Notify Andrew - Backyard Lights Unavailable","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"title\":\"Lights Unavailable\",\"message\":\"Back yard lights not available. Recommend power cycling the lights, then restarting HA.\",\"data\":{\"actions\":[{\"action\":\"notify_action_back_yard_lights_unavail_restart_ha\",\"title\":\"Restart HA Now\"}],\"tag\":\"notify_back_yard_lights_unavail\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1610,"y":620,"wires":[[]]},{"id":"2537fa6e.2733a6","type":"api-call-service","z":"d1f48851.ea8a08","name":"Dismiss Andrew - Back Yard Lights Unavailable","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"notify_back_yard_lights_unavail\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1620,"y":680,"wires":[[]]},{"id":"c62a7254.37995","type":"switch","z":"d1f48851.ea8a08","name":"Back Yard Lights Unavailable Restart HA","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_back_yard_lights_unavail_restart_ha","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":700,"y":1440,"wires":[["cbf9be91.d5a73","4100b6fa.7b8a88"]]},{"id":"6800b30a.eecb6c","type":"api-call-service","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"restart","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1210,"y":1440,"wires":[[]]},{"id":"cbf9be91.d5a73","type":"delay","z":"d1f48851.ea8a08","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":1440,"wires":[["6800b30a.eecb6c"]]},{"id":"4100b6fa.7b8a88","type":"link out","z":"d1f48851.ea8a08","name":"","links":["4f7a21d.3bdf8e"],"x":955,"y":1400,"wires":[]},{"id":"4f7a21d.3bdf8e","type":"link in","z":"d1f48851.ea8a08","name":"","links":["4100b6fa.7b8a88","3dc33f72.9de34"],"x":715,"y":740,"wires":[["18546706.fa71d9"]]},{"id":"9faaebb5.1c1068","type":"inject","z":"d1f48851.ea8a08","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":820,"y":1400,"wires":[["4100b6fa.7b8a88"]]},{"id":"18546706.fa71d9","type":"change","z":"d1f48851.ea8a08","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":740,"wires":[["6e56a528.4405dc"]]},{"id":"2577d0d4.b9cb9","type":"switch","z":"d1f48851.ea8a08","name":"","property":"countLowerLimitReached","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":560,"wires":[["3dc33f72.9de34"]]},{"id":"3dc33f72.9de34","type":"link out","z":"d1f48851.ea8a08","name":"","links":["4f7a21d.3bdf8e"],"x":1155,"y":560,"wires":[]},{"id":"ed27e170.4804a","type":"api-current-state","z":"1b9a9b6a.3dd0f5","name":"Get Turned On Lights","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ payload }}","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":480,"wires":[["201fa521.4232ea"],[]]},{"id":"620484c9.21a11c","type":"split","z":"1b9a9b6a.3dd0f5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":480,"wires":[["ed27e170.4804a"]]},{"id":"a45f3a57.53d188","type":"api-current-state","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.man_cave_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":480,"wires":[["a77016c2.b02698"]]},{"id":"a77016c2.b02698","type":"change","z":"1b9a9b6a.3dd0f5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":480,"wires":[["620484c9.21a11c"]]},{"id":"391bf675.309aba","type":"api-call-service","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":480,"wires":[["8935222f.33e62"]]},{"id":"8935222f.33e62","type":"join","z":"1b9a9b6a.3dd0f5","name":"","mode":"custom","build":"array","property":"data.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":480,"wires":[[]]},{"id":"201fa521.4232ea","type":"function","z":"1b9a9b6a.3dd0f5","name":"","func":"var hue = Math.floor(Math.random() * 361);\nvar saturation = 80 + Math.floor(Math.random() * 21);\n\nmsg.hue = hue;\nmsg.saturation = saturation;\n\nflow.set(\"service_data\", {\n    \"entity_id\": msg.data.entity_id,\n    \"hs_color\": [hue, saturation]\n});\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"entity_id\": msg.data.entity_id,\n        \"hs_color\": [hue, saturation],\n        \"transition\": 10\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":480,"wires":[["391bf675.309aba"]]},{"id":"328ea738.165a98","type":"trigger","z":"1b9a9b6a.3dd0f5","name":"","op1":"","op2":"0","op1type":"str","op2type":"str","duration":"-10000","extend":false,"units":"ms","reset":"","bytopic":"all","outputs":1,"x":680,"y":180,"wires":[["a45f3a57.53d188"]]},{"id":"5c56969e.32e4f8","type":"change","z":"1b9a9b6a.3dd0f5","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":240,"wires":[["328ea738.165a98"]]},{"id":"e0f6891c.7c2908","type":"server-state-changed","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.man_cave_shuffler","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":220,"y":180,"wires":[["328ea738.165a98","e1ebb8ba.b606e8"],["5c56969e.32e4f8"]]},{"id":"e1ebb8ba.b606e8","type":"api-call-service","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.man_cave_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":120,"wires":[[]]},{"id":"6c0f7e74.7cdd","type":"change","z":"4d34c979.7acd48","name":"man_cave_strips_are_fluxed := false","rules":[{"t":"set","p":"man_cave_strips_are_fluxed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1180,"wires":[[]]},{"id":"e231d620.c67d68","type":"change","z":"4d34c979.7acd48","name":"man_cave_strips_are_fluxed := true","rules":[{"t":"set","p":"man_cave_strips_are_fluxed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":1180,"wires":[[]]},{"id":"30c7697e.c244a6","type":"trigger-state","z":"4d34c979.7acd48","name":"Man-cave Lights On","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.man_cave_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"hj4iazjncr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"sg3tblo1wf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":440,"y":1240,"wires":[["c40a202e.35e1e"],[]]},{"id":"c40a202e.35e1e","type":"api-current-state","z":"4d34c979.7acd48","name":"Man-cave Fluxer Is On/Off","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.man_cave_fluxer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":800,"y":1100,"wires":[["1518b344.25f9cd"],["6c0f7e74.7cdd"]]},{"id":"80bf06e9.63acc8","type":"api-current-state","z":"4d34c979.7acd48","name":"Man Cave Lights Are On","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.man_cave_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":1120,"wires":[["c40a202e.35e1e"],["6c0f7e74.7cdd"]]},{"id":"77a6c866.aff2e8","type":"trigger-state","z":"4d34c979.7acd48","name":"Man-cave Lights Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.man_cave_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"2rk3lvyp7l2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":440,"y":1360,"wires":[["6c0f7e74.7cdd"],[]]},{"id":"9beb52da.49e43","type":"trigger-state","z":"4d34c979.7acd48","name":"Man-cave Fluxer Switch On","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.man_cave_fluxer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"82p99vyoycj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"yzhrxpc961p","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":420,"y":1180,"wires":[["c40a202e.35e1e","97dddc7f.5d777"],[]]},{"id":"e82e0208.dfaf6","type":"trigger-state","z":"4d34c979.7acd48","name":"Man-cave Fluxer Switch Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.man_cave_fluxer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"oh4eijwt2jq","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"9r55ag39yns","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":420,"y":1300,"wires":[["6c0f7e74.7cdd"],[]]},{"id":"5cab625f.7f6b3c","type":"link in","z":"4d34c979.7acd48","name":"Auto Updater","links":["563153d7.8339fc"],"x":55,"y":1120,"wires":[["80bf06e9.63acc8"]]},{"id":"1518b344.25f9cd","type":"function","z":"4d34c979.7acd48","name":"Svc Data","func":"msg.payload = {\n    \"group_id\": \"group.man_cave_lights\",\n    \"service_data\": {\n        \"kelvin\": flow.get(\"circadian_kelvin\"),\n        \"transition\": flow.get(\"man_cave_strips_are_fluxed\") ? 30 : 3\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1100,"wires":[["bdbf91e8.5b08c"]]},{"id":"bdbf91e8.5b08c","type":"subflow:334bdfca.304fb","z":"4d34c979.7acd48","name":"","env":[],"x":1310,"y":1100,"wires":[["e231d620.c67d68"]]},{"id":"97dddc7f.5d777","type":"api-call-service","z":"4d34c979.7acd48","name":"Turn off Man-cave Shuffler","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.man_cave_shuffler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":1040,"wires":[[]]},{"id":"1eaf56a7.146269","type":"api-current-state","z":"c6727c1e.1d54f","name":"Ledge Lights Off?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ledge_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":1740,"wires":[["8e67f350.378e"],["53e2827c.ca0a2c"]]},{"id":"53e2827c.ca0a2c","type":"api-call-service","z":"c6727c1e.1d54f","name":"Flux Ledge","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.ledge_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1790,"y":1780,"wires":[[]]},{"id":"fcbf595e.fb41a8","type":"api-current-state","z":"c6727c1e.1d54f","name":"Ledge Lights Off?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ledge_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1330,"y":1860,"wires":[["9ddcbf6b.417fb"],["ce79c75e.65aa28"]]},{"id":"9ddcbf6b.417fb","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn on Ledge Strips","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledge_strips","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1580,"y":1840,"wires":[["ce79c75e.65aa28"]]},{"id":"ce79c75e.65aa28","type":"api-call-service","z":"c6727c1e.1d54f","name":"Shuffle Ledge","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_on","entityId":"input_boolean.great_room_shuffler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1800,"y":1880,"wires":[[]]},{"id":"b3792916.28b4a8","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn off Ledge Fluxer","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ledge_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":1660,"wires":[["277fa3d1.bab97c"]]},{"id":"277fa3d1.bab97c","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn off Ledge Shuffler","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.great_room_shuffler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1640,"y":1660,"wires":[["dc85a347.21793"]]},{"id":"a90745c6.d5fcd8","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn off Ledge Fluxer","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ledge_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1340,"y":1940,"wires":[["484d9c52.37b804"]]},{"id":"484d9c52.37b804","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn off Ledge Shuffler","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.great_room_shuffler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":1940,"wires":[["12f5bcdd.127f63"]]},{"id":"12f5bcdd.127f63","type":"function","z":"c6727c1e.1d54f","name":"","func":"var hue = Math.floor(Math.random() * 361);\nvar saturation = 80 + Math.floor(Math.random() * 21);\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"hs_color\": [hue, saturation],\n        \"brightness\": 255\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":1940,"wires":[["4a9b4882.5ed6e8"]]},{"id":"4a9b4882.5ed6e8","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn on Ledge Strips","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledge_strips","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1960,"y":1940,"wires":[[]]},{"id":"dc85a347.21793","type":"api-current-state","z":"c6727c1e.1d54f","name":"Ledge Lights On?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ledge_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1910,"y":1660,"wires":[["a371e5a8.ff09e8"],["b3fb6c5e.fb9f8"]]},{"id":"a371e5a8.ff09e8","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn off Ledge Strips","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ledge_strips","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2170,"y":1640,"wires":[[]]},{"id":"b3fb6c5e.fb9f8","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn On Ledge Strips","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.ledge_strips","data":"{\"brightness\":255,\"kelvin\":3200}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2190,"y":1720,"wires":[[]]},{"id":"4a565d13.dba8f4","type":"trigger-state","z":"d1f48851.ea8a08","name":"Pi Hole 101 Not Reachable","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pi_hole_101_reachable","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"d926167xoor","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Reachable"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":440,"y":800,"wires":[["68cbb7ab.4877b8"],["57466175.0f32f"]]},{"id":"1d4c362a.1ddb5a","type":"api-call-service","z":"d1f48851.ea8a08","name":"Notify Andrew - Pi Hole Unavailable","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"title\":\"Pi-hole Not Reachable\",\"message\":\"Pi-hole ({{ flow.piHoleName }}) is down. Web browsing may be interrupted.\",\"data\":{\"tag\":\"notify_pi_hole_not_reachable\",\"image\":\"/local/images/notification_icons/pihole_logo.png\",\"icon\":\"mdi:pi-hole\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":740,"wires":[[]]},{"id":"676e6445.cc33cc","type":"api-call-service","z":"d1f48851.ea8a08","name":"Dismiss Andrew - Pi Hole Not Reachable","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"notify_pi_hole_not_reachable\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1600,"y":800,"wires":[[]]},{"id":"a39d51db.96913","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a4f9d45.00ef428"],"x":975,"y":800,"wires":[]},{"id":"57466175.0f32f","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a122a8f.53ba158"],"x":695,"y":880,"wires":[]},{"id":"a4f9d45.00ef428","type":"link in","z":"d1f48851.ea8a08","name":"","links":["a39d51db.96913"],"x":1375,"y":740,"wires":[["1d4c362a.1ddb5a"]]},{"id":"a122a8f.53ba158","type":"link in","z":"d1f48851.ea8a08","name":"","links":["57466175.0f32f"],"x":1375,"y":800,"wires":[["676e6445.cc33cc"]]},{"id":"f073910b.24679","type":"trigger-state","z":"d1f48851.ea8a08","name":"Pi Hole 102 Not Reachable","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.pi_hole_102_reachable","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"qhu1ptbfklt","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"Reachable"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":440,"y":860,"wires":[["9eaf2e22.d9cb9"],["57466175.0f32f"]]},{"id":"68cbb7ab.4877b8","type":"change","z":"d1f48851.ea8a08","name":"Set Pi Hole Name","rules":[{"t":"set","p":"piHoleName","pt":"flow","to":"Primary","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":800,"wires":[["a39d51db.96913"]]},{"id":"9eaf2e22.d9cb9","type":"change","z":"d1f48851.ea8a08","name":"Set Pi Hole Name","rules":[{"t":"set","p":"piHoleName","pt":"flow","to":"Secondary","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":840,"wires":[["a39d51db.96913"]]},{"id":"1091bb52.611765","type":"api-current-state","z":"d0661cff.7e5c6","name":"input_select.automation_mode","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.automation_mode","state_type":"str","state_location":"automation_mode_state","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":950,"y":320,"wires":[["92ab5997.22abb8"]]},{"id":"7dca9442.2f7d4c","type":"change","z":"d0661cff.7e5c6","name":"USE STUB","rules":[{"t":"set","p":"automation_mode_state","pt":"msg","to":"automation_mode_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":400,"wires":[["92ab5997.22abb8"]]},{"id":"6e56a528.4405dc","type":"trigger","z":"d1f48851.ea8a08","name":"","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1240,"y":620,"wires":[["616fde4d.d8f4a"]]},{"id":"82f4950b.5bca28","type":"trigger-state","z":"dbd2ebf4.b8f648","name":"Kaitlyn Leaves Home","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.kaitlyn","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"bpds1d58fb","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"zzcbltq1w5","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":420,"wires":[["1d82b54d.cc589b"],[]]},{"id":"f9c13132.596af","type":"switch","z":"dbd2ebf4.b8f648","name":"[home]","property":"automation_mode","propertyType":"global","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":690,"y":420,"wires":[["b620c805.171418","f16998de.ecf6a8"]]},{"id":"b620c805.171418","type":"api-call-service","z":"dbd2ebf4.b8f648","name":"Set Climate Mode","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat","data":"{\"preset_mode\":\"Kaitlyn Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":910,"y":420,"wires":[[]]},{"id":"1d82b54d.cc589b","type":"delay","z":"dbd2ebf4.b8f648","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":540,"y":420,"wires":[["f9c13132.596af"]]},{"id":"20a5cf6.bb5d23","type":"trigger-state","z":"dbd2ebf4.b8f648","name":"Kaitlyn Arrives Home","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"person.kaitlyn","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"t8jl0i92jjd","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"em5wlma1w2d","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is_not","comparatorValueDatatype":"str","comparatorValue":"home"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":620,"wires":[["dc90d32d.76a69","4fafe8b8.3f9858"],[]]},{"id":"dc90d32d.76a69","type":"change","z":"dbd2ebf4.b8f648","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":520,"wires":[["1d82b54d.cc589b"]]},{"id":"f16998de.ecf6a8","type":"api-call-service","z":"dbd2ebf4.b8f648","name":"Turn off lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ledge_strips, light.kitchen_lights, light.guest_room_lights, light.master_bedroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":900,"y":360,"wires":[[]]},{"id":"4fafe8b8.3f9858","type":"api-call-service","z":"dbd2ebf4.b8f648","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"resume_climate_schedule","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":530,"y":620,"wires":[[]]},{"id":"c01ee605.a86a38","type":"trigger-state","z":"f7e7a8ac.19a538","name":"Living Room Motion Sensor","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"group.indoor_motion_sensors","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"27mve08a4lj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"zw9b2leo11","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":320,"y":300,"wires":[["7945f85c.5abfa8"],["f5e4b4c2.7f9178"]]},{"id":"db5e7c2a.1a7ec","type":"inject","z":"f7e7a8ac.19a538","name":"detected","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"group.indoor_motion_sensors\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","x":120,"y":280,"wires":[["c01ee605.a86a38"]]},{"id":"5fef9c89.fe26c4","type":"inject","z":"f7e7a8ac.19a538","name":"clear","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"entity_id\":\"group.indoor_motion_sensors\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","x":130,"y":320,"wires":[["c01ee605.a86a38"]]},{"id":"7945f85c.5abfa8","type":"switch","z":"f7e7a8ac.19a538","name":"Sleep Mode?","property":"automation_mode","propertyType":"global","rules":[{"t":"eq","v":"sleep","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":260,"wires":[["6b16bd3c.4e7d54"]]},{"id":"6b16bd3c.4e7d54","type":"api-current-state","z":"f7e7a8ac.19a538","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"time","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":730,"y":260,"wires":[["df350c82.a760c"]]},{"id":"df350c82.a760c","type":"function","z":"f7e7a8ac.19a538","name":"Set msg.hour","func":"msg.hour = parseInt(msg.time.substring(0, 2));\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":260,"wires":[["d6ebcc65.5a4d2","41e23c81.d407d4"]]},{"id":"d6ebcc65.5a4d2","type":"switch","z":"f7e7a8ac.19a538","name":"msg.hour between 4 and 8","property":"hour","propertyType":"msg","rules":[{"t":"btwn","v":"4","vt":"num","v2":"7","v2t":"num"}],"checkall":"true","repair":false,"outputs":1,"x":1160,"y":200,"wires":[["a87fcaba.60d5c8"]]},{"id":"a87fcaba.60d5c8","type":"api-call-service","z":"f7e7a8ac.19a538","name":"Set Home Mode","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_select","service":"select_option","entityId":"input_select.automation_mode","data":"{ \"option\": \"home\" }","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1480,"y":200,"wires":[[]]},{"id":"41e23c81.d407d4","type":"switch","z":"f7e7a8ac.19a538","name":"msg.hour between 10 and 24 or 0 and 4","property":"hour","propertyType":"msg","rules":[{"t":"btwn","v":"22","vt":"num","v2":"23","v2t":"num"},{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1200,"y":260,"wires":[["5ba9ebab.f14b54"],["5ba9ebab.f14b54"]]},{"id":"9ccbf4ee.7447d8","type":"api-call-service","z":"f7e7a8ac.19a538","name":"Night Light","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.great_room_scene_night_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1670,"y":260,"wires":[["3bd1eb01.d5eec4"]]},{"id":"53016360.bb3d8c","type":"api-current-state","z":"1b9a9b6a.3dd0f5","name":"Get Turned On Lights","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ payload }}","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":940,"wires":[["183cb79c.ee3888"],[]]},{"id":"77c99c5b.614ac4","type":"split","z":"1b9a9b6a.3dd0f5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":940,"wires":[["53016360.bb3d8c"]]},{"id":"8eb9db55.53b248","type":"api-current-state","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.great_room_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":940,"wires":[["244d19bb.55f736"]]},{"id":"244d19bb.55f736","type":"change","z":"1b9a9b6a.3dd0f5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":940,"wires":[["77c99c5b.614ac4"]]},{"id":"5b86c7e3.891a28","type":"api-call-service","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":940,"wires":[["8db921e5.57c77"]]},{"id":"8db921e5.57c77","type":"join","z":"1b9a9b6a.3dd0f5","name":"","mode":"custom","build":"array","property":"data.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":940,"wires":[[]]},{"id":"183cb79c.ee3888","type":"function","z":"1b9a9b6a.3dd0f5","name":"","func":"var hue = Math.floor(Math.random() * 361);\nvar saturation = 80 + Math.floor(Math.random() * 21);\n\nmsg.hue = hue;\nmsg.saturation = saturation;\n\nflow.set(\"service_data\", {\n    \"entity_id\": msg.data.entity_id,\n    \"hs_color\": [hue, saturation]\n});\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"entity_id\": msg.data.entity_id,\n        \"hs_color\": [hue, saturation],\n        \"transition\": 30\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1070,"y":940,"wires":[["5b86c7e3.891a28"]]},{"id":"46f6dfa7.9f0f5","type":"trigger","z":"1b9a9b6a.3dd0f5","name":"","op1":"","op2":"0","op1type":"str","op2type":"str","duration":"-5","extend":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":670,"y":640,"wires":[["8eb9db55.53b248"]]},{"id":"1272f69a.5ef0a9","type":"change","z":"1b9a9b6a.3dd0f5","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":700,"wires":[["46f6dfa7.9f0f5"]]},{"id":"c62f7125.90b54","type":"server-state-changed","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.great_room_shuffler","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":640,"wires":[["46f6dfa7.9f0f5","b95d68da.47ad88"],["1272f69a.5ef0a9"]]},{"id":"b95d68da.47ad88","type":"api-call-service","z":"1b9a9b6a.3dd0f5","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ledge_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":580,"wires":[[]]},{"id":"6b1299d6.3914e8","type":"inject","z":"4e00d3e0.bf207c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":780,"wires":[["373c55fa.43d15a"]]},{"id":"373c55fa.43d15a","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:06:f7:33:88-02-0406","device_name":"Hue 104 : ZHAPresence","state":"0","x":370,"y":780,"wires":[["f3bb75e0.2e9d38"]]},{"id":"f3bb75e0.2e9d38","type":"function","z":"4e00d3e0.bf207c","name":"","func":"var id = msg.meta.device_id;\n\nvar url = flow.get(\"deconz_api_url\");\nvar port = flow.get(\"deconz_api_port\");\nvar key = flow.get(\"deconz_api_key\");\n\nmsg.url = url + ':' + port + '/api/' + key + '/sensors/' + id + \"/config\";\n\nmsg.payload = {\n    \"sensitivity\": 2\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":780,"wires":[["50ddf6bd.f70e68"]]},{"id":"50ddf6bd.f70e68","type":"http request","z":"4e00d3e0.bf207c","name":"","method":"PUT","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":710,"y":780,"wires":[["c7bc08c9.edf858"]]},{"id":"c7bc08c9.edf858","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":860,"y":780,"wires":[]},{"id":"3bd1eb01.d5eec4","type":"ha-wait-until","z":"f7e7a8ac.19a538","name":"Wait for Motion Clear","server":"a86c4410.e2a568","outputs":1,"entityId":"group.indoor_motion_sensors","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1960,"y":260,"wires":[["bf934ed0.e3606"]]},{"id":"5ba9ebab.f14b54","type":"api-current-state","z":"f7e7a8ac.19a538","name":"Ledge Strips Off?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ledge_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1490,"y":260,"wires":[["9ccbf4ee.7447d8"],[]]},{"id":"bf934ed0.e3606","type":"delay","z":"f7e7a8ac.19a538","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2160,"y":260,"wires":[["dcebc7c4.b7c478"]]},{"id":"61f493cb.9192ec","type":"change","z":"f7e7a8ac.19a538","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1980,"y":340,"wires":[["bf934ed0.e3606"]]},{"id":"dcebc7c4.b7c478","type":"api-call-service","z":"f7e7a8ac.19a538","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.ledge_strips","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2330,"y":260,"wires":[[]]},{"id":"f5e4b4c2.7f9178","type":"switch","z":"f7e7a8ac.19a538","name":"Sleep Mode?","property":"automation_mode","propertyType":"global","rules":[{"t":"eq","v":"sleep","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1750,"y":340,"wires":[["61f493cb.9192ec","3bd1eb01.d5eec4"]]},{"id":"4ee33966.4fc018","type":"trigger-state","z":"a5e69210.f37a9","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_select.automation_mode","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":true,"state_type":"str","x":210,"y":100,"wires":[["f6ca1b2c.4ecc08"],[]]},{"id":"f6ca1b2c.4ecc08","type":"change","z":"a5e69210.f37a9","name":"","rules":[{"t":"set","p":"automation_mode","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"automation_mode_prev","pt":"global","to":"data.event.old_state.state","tot":"msg"},{"t":"set","p":"automation_mode","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"automation_mode_prev","pt":"flow","to":"data.event.old_state.state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":100,"wires":[["f9d40f88.23d32","59ced8a4.fa6298","55a5682a.b3e308"]]},{"id":"f9d40f88.23d32","type":"switch","z":"a5e69210.f37a9","name":"New State = home","property":"automation_mode","propertyType":"flow","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":100,"wires":[["57ed5a60.4b44f4","cc8a09f4.6f02f8"]]},{"id":"57ed5a60.4b44f4","type":"switch","z":"a5e69210.f37a9","name":"Previous State == sleep","property":"automation_mode_prev","propertyType":"flow","rules":[{"t":"eq","v":"sleep","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":100,"wires":[["e6e195b8.954958","f7b5b8ac.a012d8"]]},{"id":"e6e195b8.954958","type":"api-render-template","z":"a5e69210.f37a9","name":"Living Room Dark? (True/False)","server":"a86c4410.e2a568","template":"{{ state_attr('sensor.hue_104_lux', 'dark') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1410,"y":100,"wires":[["e9cd7961.b26ac8"]]},{"id":"e9cd7961.b26ac8","type":"switch","z":"a5e69210.f37a9","name":"True?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1610,"y":100,"wires":[["4fd6a7f1.60e4a8"]]},{"id":"4fd6a7f1.60e4a8","type":"api-call-service","z":"a5e69210.f37a9","name":"Great Room Scene","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.great_room_scene_wake_up","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1790,"y":100,"wires":[[]]},{"id":"59ced8a4.fa6298","type":"switch","z":"a5e69210.f37a9","name":"New State = away","property":"automation_mode","propertyType":"flow","rules":[{"t":"eq","v":"away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":560,"wires":[["2feef303.bbde4c","43154470.03f4ac","859ffe76.5bcf2","d08074ba.950c08"]]},{"id":"2feef303.bbde4c","type":"api-call-service","z":"a5e69210.f37a9","name":"House Scene","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.house_scene_away","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":980,"y":560,"wires":[[]]},{"id":"43154470.03f4ac","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn On Air Purifier","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on_air_purifier","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":620,"wires":[[]]},{"id":"859ffe76.5bcf2","type":"api-call-service","z":"a5e69210.f37a9","name":"Climate Away Mode","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"set_climate_away_mode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":500,"wires":[[]]},{"id":"d08074ba.950c08","type":"api-current-state","z":"a5e69210.f37a9","name":"Sun below horizon?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":440,"wires":[["e0f22e0b.faf8e"],[]]},{"id":"e0f22e0b.faf8e","type":"api-call-service","z":"a5e69210.f37a9","name":"Outside Scene","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_security","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":440,"wires":[[]]},{"id":"cc8a09f4.6f02f8","type":"switch","z":"a5e69210.f37a9","name":"Previous State == away","property":"automation_mode_prev","propertyType":"flow","rules":[{"t":"eq","v":"away","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1010,"y":180,"wires":[["fb0dd8fd.0e7008","e67d7695.0e1238","8784c199.6ad7f","a3e251bf.ff4f2"]]},{"id":"468a5f5.229c2a","type":"api-render-template","z":"bd7887b2.0cf798","name":"Living Room Dark? or Kitchen Dark? (True/False)","server":"a86c4410.e2a568","template":"{{ state_attr('sensor.hue_104_lux', 'dark') or state_attr('sensor.hue_100_lux', 'dark') }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":310,"y":100,"wires":[["316cd1e0.1e23ee"]]},{"id":"316cd1e0.1e23ee","type":"switch","z":"bd7887b2.0cf798","name":"True?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":100,"wires":[["9e0f3dee.1f2b6"],["5e9092f0.64e8fc"]]},{"id":"9e0f3dee.1f2b6","type":"change","z":"bd7887b2.0cf798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":40,"wires":[["ea1b0561.e8d7a8"]]},{"id":"5e9092f0.64e8fc","type":"change","z":"bd7887b2.0cf798","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":160,"wires":[["ea1b0561.e8d7a8"]]},{"id":"fb0dd8fd.0e7008","type":"subflow:bd7887b2.0cf798","z":"a5e69210.f37a9","name":"","env":[],"x":1360,"y":180,"wires":[["938b3ab2.eab838"],[]]},{"id":"ea1b0561.e8d7a8","type":"moment","z":"bd7887b2.0cf798","name":"","topic":"","input":"","inputType":"date","inTz":"America/Chicago","adjAmount":0,"adjType":"days","adjDir":"add","format":"MMM DD, HH:mm","locale":"C","output":"timestamp","outputType":"msg","outTz":"America/Chicago","x":980,"y":100,"wires":[["4a48c0f0.5e053"]]},{"id":"4a48c0f0.5e053","type":"function","z":"bd7887b2.0cf798","name":"","func":"msg.payload = msg.payload + ' at ' + msg.timestamp;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1160,"y":100,"wires":[[]]},{"id":"938b3ab2.eab838","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn on indoor lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.house_scene_warm_welcome","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":180,"wires":[[]]},{"id":"e67d7695.0e1238","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn Off Air Purifier","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"turn_off_air_purifier","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":300,"wires":[[]]},{"id":"8784c199.6ad7f","type":"api-call-service","z":"a5e69210.f37a9","name":"Set A/C to Home","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"resume_climate_schedule","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1370,"y":360,"wires":[["e17cbe62.cebda"]]},{"id":"a3e251bf.ff4f2","type":"api-current-state","z":"a5e69210.f37a9","name":"After Sunset?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"below_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1360,"y":240,"wires":[["1d108707.9d51e9"],[]]},{"id":"1d108707.9d51e9","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn on outdoor lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_sunset","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1580,"y":240,"wires":[[]]},{"id":"e17cbe62.cebda","type":"delay","z":"a5e69210.f37a9","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1700,"y":360,"wires":[["1ca95420.96360c"]]},{"id":"1ca95420.96360c","type":"api-render-template","z":"a5e69210.f37a9","name":"Kaitlyn == Away and Climate Preset == Home?","server":"a86c4410.e2a568","template":"{{ states('person.kaitlyn') == 'not_home' and state_attr('climate.thermostat', 'preset_mode') == 'Home' }}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":1960,"y":360,"wires":[["9e24e650.51c238"]]},{"id":"9e24e650.51c238","type":"switch","z":"a5e69210.f37a9","name":"True?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"True","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":2210,"y":360,"wires":[["670a6b63.c2b7f4"]]},{"id":"670a6b63.c2b7f4","type":"api-call-service","z":"a5e69210.f37a9","name":"Set Climate Mode","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"climate","service":"set_preset_mode","entityId":"climate.thermostat","data":"{\"preset_mode\":\"Kaitlyn Away\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":2370,"y":360,"wires":[[]]},{"id":"479f5aaa.0a9fe4","type":"switch","z":"d0661cff.7e5c6","name":"","property":"automation_mode","propertyType":"global","rules":[{"t":"jsonata_exp","v":"global.automation_mode in ['home', 'guest']","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":940,"y":80,"wires":[["4d3242e5.47ef3c"]]},{"id":"72319344.44469c","type":"inject","z":"d0661cff.7e5c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":780,"y":80,"wires":[["479f5aaa.0a9fe4"]]},{"id":"4d3242e5.47ef3c","type":"debug","z":"d0661cff.7e5c6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":80,"wires":[]},{"id":"67e85155.6ad8c","type":"change","z":"c3c8a381.c1927","name":"NOOP","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":80,"wires":[["ff59c515.6b4888","d5a4bceb.bd591","d8664183.3795c","76e1a905.a7ed98"]]},{"id":"8928f1f3.842a","type":"delay","z":"f7e7a8ac.19a538","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1120,"y":40,"wires":[["f5fa066f.2366b8"]]},{"id":"55a5682a.b3e308","type":"switch","z":"a5e69210.f37a9","name":"New State = sleep","property":"automation_mode","propertyType":"flow","rules":[{"t":"eq","v":"sleep","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":900,"wires":[["8345aa59.7abf08","65adfac0.482614","29d77a27.8e2346","dd415a3e.5bfaa8","8270c3ee.a4db","a850ce29.1ecbb"]]},{"id":"8345aa59.7abf08","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn On Air Purifier","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"turn_on_air_purifier","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":780,"wires":[[]]},{"id":"65adfac0.482614","type":"api-call-service","z":"a5e69210.f37a9","name":"Lights Script","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"lighting_scene_sleep_mode","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":840,"wires":[[]]},{"id":"29d77a27.8e2346","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn Off Media Players","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"turn_off_media_players","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1000,"y":900,"wires":[[]]},{"id":"dd415a3e.5bfaa8","type":"api-call-service","z":"a5e69210.f37a9","name":"Lock Doors","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"script","service":"lock_doors","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":960,"wires":[[]]},{"id":"8270c3ee.a4db","type":"api-current-state","z":"a5e69210.f37a9","name":"A/C on cool mode?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"cool","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.thermostat","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":990,"y":1020,"wires":[["e0a5222f.f5e2d"],[]]},{"id":"e0a5222f.f5e2d","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn on Bedroom Fan","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.master_bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1250,"y":1020,"wires":[[]]},{"id":"f7b5b8ac.a012d8","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn off bedroom fan","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.master_bedroom_fan","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1380,"y":60,"wires":[[]]},{"id":"89c7e772.7cd058","type":"trigger-state","z":"f7e7a8ac.19a538","name":"Man Cave Motion Sensor Clear","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hue_101_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ne26ukex9tr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":330,"y":480,"wires":[["41627fa1.d7e1","95ea93c9.2e2c3"],["c4540f2b.b52fe"]]},{"id":"c4540f2b.b52fe","type":"delay","z":"f7e7a8ac.19a538","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650,"y":640,"wires":[["6c71659c.bf924c"]]},{"id":"41627fa1.d7e1","type":"change","z":"f7e7a8ac.19a538","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":540,"wires":[["c4540f2b.b52fe"]]},{"id":"6c71659c.bf924c","type":"api-call-service","z":"f7e7a8ac.19a538","name":"Man Cave Lights Off","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.man_cave_scene_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":860,"y":640,"wires":[[]]},{"id":"247d4339.1b89ac","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"flow","to":"group.guest_room_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1110,"y":1360,"wires":[["d901615b.f7a23"]]},{"id":"d901615b.f7a23","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchOnPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOnHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffHoldEvent","vt":"flow"}],"checkall":"true","repair":false,"outputs":8,"x":1270,"y":1360,"wires":[["13aee46f.728cac"],[],["9cf631bd.dc19e"],["6d38bb2b.1889c4"],["66f41e8e.fbb03"],["95783ded.62a8b"],["3ebdb307.e0ac4c"],["3ebdb307.e0ac4c"]]},{"id":"13aee46f.728cac","type":"api-call-service","z":"c6727c1e.1d54f","name":"Turn On Guest Room Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.guest_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1520,"y":1260,"wires":[[]]},{"id":"9cf631bd.dc19e","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group_id","tot":"flow"},{"t":"set","p":"light_id","pt":"msg","to":"light.guest_room_lights","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1320,"wires":[["c764b9a7.341c18"]]},{"id":"c764b9a7.341c18","type":"subflow:3b8908a.fcea8f8","z":"c6727c1e.1d54f","name":"","x":1730,"y":1320,"wires":[[]]},{"id":"6d38bb2b.1889c4","type":"change","z":"c6727c1e.1d54f","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.guest_room_lights\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1380,"wires":[["118bc448.94d15c"]]},{"id":"118bc448.94d15c","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1690,"y":1380,"wires":[[]]},{"id":"66f41e8e.fbb03","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group_id","tot":"flow"},{"t":"set","p":"light_id","pt":"msg","to":"light.guest_room_lights","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1440,"wires":[["716dc2b9.877aac"]]},{"id":"716dc2b9.877aac","type":"subflow:42ad5100.25527","z":"c6727c1e.1d54f","x":1740,"y":1440,"wires":[[]]},{"id":"95783ded.62a8b","type":"change","z":"c6727c1e.1d54f","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.guest_room_lights\",\"service_data\":{\"brightness\":3}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":1500,"wires":[["8fa597da.1e0a38"]]},{"id":"8fa597da.1e0a38","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1690,"y":1500,"wires":[[]]},{"id":"3ebdb307.e0ac4c","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.guest_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1490,"y":1560,"wires":[[]]},{"id":"df89ff02.9c083","type":"range","z":"4d34c979.7acd48","minin":"-90","maxin":"90","minout":"63","maxout":"255","action":"clamp","round":true,"property":"payload.kelvin","name":"percent to brightness range","x":740,"y":460,"wires":[["1e1739bf.728646"]]},{"id":"1e1739bf.728646","type":"change","z":"4d34c979.7acd48","name":"","rules":[{"t":"set","p":"circadian_brightness","pt":"flow","to":"payload.kelvin","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":460,"wires":[[]]},{"id":"1649ccb0.130ad3","type":"ha-entity","z":"abbc1f2.48c95e","name":"Chill Mode","server":"a86c4410.e2a568","version":1,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Chill Mode"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:weather-night"},{"property":"unit_of_measurement","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"","outputLocationType":"none","inputOverride":"allow","x":110,"y":60,"wires":[[],[]]},{"id":"dfed7d73.6c5a","type":"trigger-state","z":"abbc1f2.48c95e","name":"Chill Mode On/Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"switch.chill_mode","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"vpuxluf92f9","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":130,"y":140,"wires":[["ab974a04.bc46a8","1b860e7e.82dcf2","9a4429f1.413358","8e06128f.b784d","d82cf623.bb5438","7dc0898.b23fe78","6c65800f.523dd"],["ab974a04.bc46a8"]]},{"id":"ab974a04.bc46a8","type":"change","z":"abbc1f2.48c95e","name":"","rules":[{"t":"set","p":"chill_mode","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":60,"wires":[[]]},{"id":"1b860e7e.82dcf2","type":"api-call-service","z":"abbc1f2.48c95e","name":"Turn Off Living Room Flux","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ledge_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":140,"wires":[["3ca98818.f0e2c8"]]},{"id":"3ca98818.f0e2c8","type":"api-call-service","z":"abbc1f2.48c95e","name":"Set Ledge Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.ledge_strips","data":"{\"brightness\":64,\"kelvin\":1}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":630,"y":140,"wires":[[]]},{"id":"9a4429f1.413358","type":"api-call-service","z":"abbc1f2.48c95e","name":"Living Room Lamps low brightness","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"group.living_room_lamps","data":"{\"brightness\":63}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":200,"wires":[[]]},{"id":"8e06128f.b784d","type":"api-call-service","z":"abbc1f2.48c95e","name":"Turn Off Kitchen Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.kitchen_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":380,"y":260,"wires":[[]]},{"id":"7dc0898.b23fe78","type":"api-call-service","z":"abbc1f2.48c95e","name":"Turn off overhead lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.master_bedroom_light","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":390,"y":380,"wires":[[]]},{"id":"d82cf623.bb5438","type":"api-current-state","z":"abbc1f2.48c95e","name":"Master Bedroom Lamps On?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.master_bedroom_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":400,"y":320,"wires":[["4bf2f2ed.8de5fc"],[]]},{"id":"4bf2f2ed.8de5fc","type":"api-call-service","z":"abbc1f2.48c95e","name":"Make lamps warm","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom_lights","data":"{\"kelvin\":2000}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":650,"y":320,"wires":[[]]},{"id":"a850ce29.1ecbb","type":"api-call-service","z":"a5e69210.f37a9","name":"Turn Off Chill Mode","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.chill_mode","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":990,"y":1080,"wires":[[]]},{"id":"95ea93c9.2e2c3","type":"api-current-state","z":"f7e7a8ac.19a538","name":"Man Cave Lights Off?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.man_cave_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":480,"wires":[["f88ae45b.c55498"],[]]},{"id":"f88ae45b.c55498","type":"subflow:1c2e799b.e17e86","z":"f7e7a8ac.19a538","name":"","x":920,"y":480,"wires":[[]]},{"id":"6c65800f.523dd","type":"api-current-state","z":"abbc1f2.48c95e","name":"Man Cave Lights On?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.man_cave_lights","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":380,"y":440,"wires":[["a8e770c3.0b013"],[]]},{"id":"a8e770c3.0b013","type":"subflow:1c2e799b.e17e86","z":"abbc1f2.48c95e","name":"","x":620,"y":440,"wires":[[]]},{"id":"d9c32efd.a799c","type":"api-call-service","z":"c3c8a381.c1927","name":"Living Room Lamps On","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.living_room_lamps","data":"{\"brightness\":255,\"transition\":10}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1090,"y":20,"wires":[[]]},{"id":"5524ed50.79b084","type":"trigger-state","z":"b388976.2f76968","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.front_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"l750zhi0ls","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"fq4xu70oqn","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":370,"y":200,"wires":[[],[]]},{"id":"87d58efd.f80f6","type":"trigger-state","z":"b388976.2f76968","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.back_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"l750zhi0ls","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"fq4xu70oqn","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":370,"y":260,"wires":[[],[]]},{"id":"64090718.ad3d68","type":"trigger-state","z":"b388976.2f76968","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.garage_entrance_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"l750zhi0ls","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"fq4xu70oqn","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":410,"y":320,"wires":[[],[]]},{"id":"b6db7384.cf702","type":"api-call-service","z":"b388976.2f76968","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"rest_command","service":"lenovo_tablet_1001_tasker_command","entityId":"","data":"{\"message\": \"front_door\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1020,"y":240,"wires":[[]]}]