node-red/.flows.json.backup
[{"id":"644cdf06.1e263","type":"tab","label":"DEV","disabled":true,"info":""},{"id":"c3c8a381.c1927","type":"tab","label":"Light Schedule [PRD]","disabled":false,"info":""},{"id":"4d34c979.7acd48","type":"tab","label":"Flux","disabled":false,"info":""},{"id":"f7e7a8ac.19a538","type":"tab","label":"Motion","disabled":false,"info":""},{"id":"c6727c1e.1d54f","type":"tab","label":"deconz_event","disabled":false,"info":""},{"id":"9262859d.559bc8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"379b35a.32b8cca","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"d1f48851.ea8a08","type":"tab","label":"Push Notifications","disabled":false,"info":""},{"id":"4e00d3e0.bf207c","type":"tab","label":"deCONZ","disabled":false,"info":""},{"id":"d0661cff.7e5c6","type":"tab","label":"Garage Motion","disabled":false,"info":""},{"id":"1c2e799b.e17e86","type":"subflow","name":"Man Cave Auto Scene","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1ad33a79.bcfbb6"}]}],"out":[{"x":780,"y":80,"wires":[{"id":"cf06adde.d4bc8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":780,"y":140,"wires":[{"id":"dae424d6.6e0b38","port":0}]}},{"id":"334bdfca.304fb","type":"subflow","name":"Light Group Service Call","info":"Call the light.turn_on service to change attributes like brightness, temperature, rgb, etc. for all entities in a group. Ignores lights that are turned off. Useful for adjusting a light group without inadvertently turning on other lights in the group.\n\n## Inputs\n\n(required) `msg.payload.group_id` set to the entity_id of the group, e.g. group.kitchen_lights\n\n(required) `msg.payload.service_data` set to a json object of service attributes for the light.turn_on service.\n\n\nExample payload:\n\n```\n{\n    \"group_id\": \"group.kitchen_lights\",\n    \"service_data\": {\n        \"brightness_step\": 50\n    }\n}\n```","category":"","in":[{"x":40,"y":80,"wires":[{"id":"3430a23b.11092e"}]}],"out":[{"x":1480,"y":80,"wires":[{"id":"3e462361.78b1dc","port":0}]}],"env":[],"color":"#E6E0F8","icon":"font-awesome/fa-lightbulb-o","status":{"x":1260,"y":140,"wires":[{"id":"71cacd05.4a4054","port":0}]}},{"id":"ea924b33.c97d48","type":"subflow","name":"Master Bedroom Auto Scene","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"27c0bf74.75f7c"}]}],"out":[{"x":640,"y":40,"wires":[{"id":"59ff308e.1a228","port":0}]}],"env":[],"color":"#FFAAAA","icon":"font-awesome/fa-adjust","status":{"x":640,"y":100,"wires":[{"id":"5d170fc2.95f3a","port":0}]}},{"id":"47ecb152.aed62","type":"subflow","name":"Laundry Room Auto Scene","info":"","category":"","in":[{"x":20,"y":20,"wires":[{"id":"23e8d1e6.064b6e"}]}],"out":[{"x":720,"y":60,"wires":[{"id":"f8dcb71.20d6848","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":700,"y":120,"wires":[{"id":"c94198a5.999958","port":0}]}},{"id":"3b8908a.fcea8f8","type":"subflow","name":"Light Group Increase Brightness","info":"Increase brightness of a light group without turning on lights in the group that are turned off.","category":"","in":[{"x":40,"y":60,"wires":[{"id":"85922967.04d138"}]}],"out":[{"x":820,"y":60,"wires":[{"id":"7c4ff98f.a61b98","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":520,"y":160,"wires":[{"id":"1f9de8e8.230de7","port":0}]}},{"id":"42ad5100.25527","type":"subflow","name":"Light Group Decrease Brightness","info":"Decrease brightness of a light group without turning on lights that are currently off, and without turning off the group when the minimum brightness is hit.","category":"","in":[{"x":20,"y":80,"wires":[{"id":"45351442.4ff2cc"}]}],"out":[{"x":920,"y":80,"wires":[{"id":"e4530942.d23ba8","port":0}]}],"env":[],"color":"#DDAA99","status":{"x":700,"y":180,"wires":[{"id":"e49a5dd.e1210a","port":0}]}},{"id":"a86c4410.e2a568","type":"server","z":"","name":"Home Assistant","addon":true},{"id":"e5627157.6cda8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f1ce55a2.fcd558","type":"position-config","z":"","name":"Silverleaf","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":99,"timeZoneDST":0,"stateTimeFormat":"3","stateDateFormat":"12"},{"id":"a5b7b1da.e5e93","type":"deconz-server","z":"","name":"deCONZ","ip":"127.0.0.1","port":"40850","apikey":"8CEFBE7722","ws_port":"8081","secure":false,"polling":"15"},{"id":"ea5214f5.b4b958","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":60,"wires":[["82326355.5c5bf"]]},{"id":"82326355.5c5bf","type":"change","z":"644cdf06.1e263","name":"","rules":[{"t":"set","p":"automation_mode_stub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":120,"wires":[[]]},{"id":"26759c1e.ec8664","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":100,"wires":[["82326355.5c5bf"]]},{"id":"dc7b735c.2dbe2","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"sleep","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":140,"wires":[["82326355.5c5bf"]]},{"id":"daa6c241.75f9a","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"vacation","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":180,"wires":[["82326355.5c5bf"]]},{"id":"da75f7b9.7615f8","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"guest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":220,"wires":[["82326355.5c5bf"]]},{"id":"889b52b1.f8993","type":"inject","z":"644cdf06.1e263","name":"disabled","topic":"","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":260,"wires":[["82326355.5c5bf"]]},{"id":"9021f597.1e5658","type":"comment","z":"644cdf06.1e263","name":"Automation Mode Stubs","info":"Use these injects to override the the value of input_select.automation_mode. Use the \"disable\" to resume using the value from home assistant.","x":120,"y":60,"wires":[]},{"id":"ff59c515.6b4888","type":"switch","z":"c3c8a381.c1927","name":"IF (HOME, SUNSET)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sun.sun\" and automation_mode_state in ['home', 'guest'] and payload = \"below_horizon\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1220,"y":380,"wires":[["e6b8765b.74c7e8"]]},{"id":"e6b8765b.74c7e8","type":"api-call-service","z":"c3c8a381.c1927","name":"Outside Scene - Sunset","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_sunset","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":380,"wires":[[]]},{"id":"d8664183.3795c","type":"switch","z":"c3c8a381.c1927","name":"IF (SUNRISE)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sun.sun\" and payload = \"above_horizon\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1200,"y":500,"wires":[["56987ed1.36142"]]},{"id":"56987ed1.36142","type":"api-call-service","z":"c3c8a381.c1927","name":"Outside Scene - Sunrise","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_sunrise","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":500,"wires":[[]]},{"id":"82f3e546.6ac108","type":"trigger-state","z":"c3c8a381.c1927","name":"State Trigger: sensor.time","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":230,"y":460,"wires":[["5c9dce7b.f13a1"],[]]},{"id":"76e1a905.a7ed98","type":"switch","z":"c3c8a381.c1927","name":"IF (HOME, 4PM)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sensor.time\" and payload = \"16:00\" and automation_mode_state in ['home', 'guest']","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1210,"y":560,"wires":[["8ab9b9ad.8d7048"]]},{"id":"8ab9b9ad.8d7048","type":"api-call-service","z":"c3c8a381.c1927","name":"Ledge Flux On","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.ledge_scene_flux","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":560,"wires":[[]]},{"id":"d5a4bceb.bd591","type":"switch","z":"c3c8a381.c1927","name":"IF (NOT_HOME, SUNSET)","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"topic = \"sun.sun\" and automation_mode_state in ['away', 'vacation', 'sleep'] and payload = \"below_horizon\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":1240,"y":440,"wires":[["b49fa9d7.5066a8"]]},{"id":"b49fa9d7.5066a8","type":"api-call-service","z":"c3c8a381.c1927","name":"Outside Scene - Security","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.outside_scene_security","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":440,"wires":[[]]},{"id":"5c9dce7b.f13a1","type":"switch","z":"c3c8a381.c1927","name":"STUB SWITCH","property":"automation_mode_stub","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":380,"wires":[["f0c46c31.9c3aa"],["3d453b22.fc59b4"]]},{"id":"f0c46c31.9c3aa","type":"api-current-state","z":"c3c8a381.c1927","name":"input_select.automation_mode","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.automation_mode","state_type":"str","state_location":"automation_mode_state","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":750,"y":340,"wires":[["67e85155.6ad8c"]]},{"id":"3d453b22.fc59b4","type":"change","z":"c3c8a381.c1927","name":"USE STUB","rules":[{"t":"set","p":"automation_mode_state","pt":"msg","to":"automation_mode_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":400,"wires":[["67e85155.6ad8c"]]},{"id":"67e85155.6ad8c","type":"change","z":"c3c8a381.c1927","name":"NOOP","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":380,"wires":[["ff59c515.6b4888","d5a4bceb.bd591","d8664183.3795c","76e1a905.a7ed98"]]},{"id":"24fac108.aaffce","type":"trigger-state","z":"644cdf06.1e263","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hue_101_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":470,"y":500,"wires":[["141855d7.d2e7fa"],[]]},{"id":"a4954b20.5cb7c8","type":"inject","z":"644cdf06.1e263","name":"detected","topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_101_motion\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":480,"wires":[["24fac108.aaffce"]]},{"id":"34c3d8ed.d17028","type":"inject","z":"644cdf06.1e263","name":"clear","topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_101_motion\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":540,"wires":[["24fac108.aaffce"]]},{"id":"3f21e627.c748aa","type":"switch","z":"644cdf06.1e263","name":"","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"automation_mode in ['away', 'vacation', 'sleep']","vt":"jsonata"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":190,"y":1040,"wires":[[],["a68861a0.de89b","d4b15c2e.632aa"],["42aca74.3a69258"]]},{"id":"a5a05d9d.c3a56","type":"api-call-service","z":"644cdf06.1e263","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.man_cave_scene_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":710,"y":1160,"wires":[[]]},{"id":"141855d7.d2e7fa","type":"switch","z":"644cdf06.1e263","name":"STUB SWITCH","property":"automation_mode_stub","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":740,"wires":[["95ed6822.adbc88"],["926e8e27.a5778"]]},{"id":"95ed6822.adbc88","type":"api-current-state","z":"644cdf06.1e263","name":"input_select.automation_mode","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.automation_mode","state_type":"str","state_location":"automation_mode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":430,"y":700,"wires":[["ef29abd1.6572b8"]]},{"id":"926e8e27.a5778","type":"change","z":"644cdf06.1e263","name":"USE STUB","rules":[{"t":"set","p":"automation_mode","pt":"msg","to":"automation_mode_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":760,"wires":[["ef29abd1.6572b8"]]},{"id":"ef29abd1.6572b8","type":"change","z":"644cdf06.1e263","name":"NOOP","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":760,"wires":[["956fd11f.93daa","dce72e89.8f024"]]},{"id":"19a740a9.9c255f","type":"debug","z":"644cdf06.1e263","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"delay","targetType":"msg","x":1670,"y":560,"wires":[]},{"id":"1d8e95a0.5d4aba","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"1800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":60,"wires":[["e236bfee.754e"]]},{"id":"9dc786a5.a5de38","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":100,"wires":[["e236bfee.754e"]]},{"id":"79064a02.90f734","type":"inject","z":"644cdf06.1e263","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":140,"wires":[["e236bfee.754e"]]},{"id":"9b349fb5.a1cf6","type":"inject","z":"644cdf06.1e263","name":"disable","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":180,"wires":[["e236bfee.754e"]]},{"id":"956fd11f.93daa","type":"switch","z":"644cdf06.1e263","name":"STUB SWITCH","property":"delay_stub","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":820,"y":760,"wires":[["499ff9ed.5d1a88"],["a1127ae.b8b1388"]]},{"id":"499ff9ed.5d1a88","type":"api-current-state","z":"644cdf06.1e263","name":"input_number.man_cave_light_timeout_seconds","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_number.man_cave_light_timeout_seconds","state_type":"num","state_location":"delay","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1120,"y":720,"wires":[["50510628.6fa238"]]},{"id":"a1127ae.b8b1388","type":"change","z":"644cdf06.1e263","name":"USE STUB","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":780,"wires":[["50510628.6fa238"]]},{"id":"50510628.6fa238","type":"change","z":"644cdf06.1e263","name":"TO_MS","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay * 1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":780,"wires":[["19a740a9.9c255f","3f21e627.c748aa"]]},{"id":"e236bfee.754e","type":"change","z":"644cdf06.1e263","name":"","rules":[{"t":"set","p":"delay_stub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":120,"wires":[[]]},{"id":"42aca74.3a69258","type":"delay","z":"644cdf06.1e263","name":"delay","pauseType":"delayv","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":450,"y":1160,"wires":[["a5a05d9d.c3a56"]]},{"id":"dce72e89.8f024","type":"debug","z":"644cdf06.1e263","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"automation_mode","targetType":"msg","x":740,"y":640,"wires":[]},{"id":"a68861a0.de89b","type":"change","z":"644cdf06.1e263","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":1100,"wires":[["42aca74.3a69258"]]},{"id":"b4169b8.342d968","type":"trigger-state","z":"644cdf06.1e263","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.man_cave_lights","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":180,"y":1160,"wires":[["a68861a0.de89b"],[]]},{"id":"8eeae444.3f6948","type":"comment","z":"4d34c979.7acd48","name":"Circadian Lightijng (using sun position)","info":"","x":770,"y":340,"wires":[]},{"id":"43bb9f54.4e777","type":"range","z":"4d34c979.7acd48","minin":"-90","maxin":"90","minout":"1","maxout":"6000","action":"clamp","round":true,"property":"payload.kelvin","name":"percent to kelvin range","x":720,"y":380,"wires":[["589fd94f.9b3b48"]]},{"id":"212eb7d9.de2628","type":"change","z":"4d34c979.7acd48","name":"","rules":[{"t":"set","p":"circadian_kelvin","pt":"flow","to":"payload.kelvin","tot":"msg"},{"t":"set","p":"circadian_percent","pt":"flow","to":"payload.percent","tot":"msg"},{"t":"set","p":"circadian_rgb","pt":"flow","to":"payload.rgb","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":380,"wires":[["cfefc5bd.c1f8e8","74fd7dfa.8bc6b4","6dce4c70.38a8a4","563153d7.8339fc"]]},{"id":"30098ea6.092542","type":"inject","z":"4d34c979.7acd48","name":"every 30 seconds","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":380,"wires":[["6cbd12eb.4fdaec"]]},{"id":"589fd94f.9b3b48","type":"function","z":"4d34c979.7acd48","name":"Kelvin to RGB","func":"// these functions were converted from Home Assistant's python version of it.\n// https://github.com/home-assistant/home-assistant/blob/05ecc5a1355c7af11b5d310470a6171528dc7a2b/homeassistant/util/color.py\n\nvar color_temperature_to_rgb = function(color_temperature_kelvin) {\n    /*\n    Return an RGB color from a color temperature in Kelvin.\n    This is a rough approximation based on the formula provided by T. Helland\n    http://www.tannerhelland.com/4435/convert-temperature-rgb-algorithm-code/\n    */\n    // range check\n    if(color_temperature_kelvin < 1000) {\n        color_temperature_kelvin = 1000;\n    } else if(color_temperature_kelvin > 40000) {\n        color_temperature_kelvin = 40000;\n    }\n\n    tmp_internal = color_temperature_kelvin / 100.0;\n\n    red = _get_red(tmp_internal);\n    green = _get_green(tmp_internal);\n    blue = _get_blue(tmp_internal);\n\n    return [red, green, blue];\n};\n\nvar _get_red = function(temperature) {\n    // Get the red component of the temperature in RGB space.\n    if(temperature <= 66){\n        return 255;\n    }\n    tmp_red = 329.698727446 * Math.pow(temperature - 60, -0.1332047592);\n    return _bound(tmp_red);\n}\n\nvar _get_green = function(temperature) {\n    // Get the green component of the given color temp in RGB space.\n    if(temperature <= 66){\n        green = 99.4708025861 * Math.log(temperature) - 161.1195681661;\n    } else {\n        green = 288.1221695283 * Math.pow(temperature - 60, -0.0755148492);\n    }\n    return _bound(green);\n}\n\nvar _get_blue = function(temperature) {\n    // Get the blue component of the given color temperature in RGB space.\n    if(temperature >= 66){\n        return 255;\n    } else if(temperature <= 19){\n        return 0;\n    }\n    blue = 138.5177312231 * Math.log(temperature - 10) - 305.0447927307;\n    return _bound(blue);\n}\n\nvar _bound = function(color_component, minimum=0, maximum=255) {\n    /*\n    Bound the given color component value between the given min and max values.\n    The minimum and maximum values will be included in the valid output.\n    i.e. Given a color_component of 0 and a minimum of 10, the returned value\n    will be 10.\n    */\n    color_component_out = Math.max(color_component, minimum);\n    return Math.min(color_component_out, maximum);\n}\n\nmsg.payload.rgb = color_temperature_to_rgb(msg.payload.kelvin);\n\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":380,"wires":[["212eb7d9.de2628"]]},{"id":"cb26bcab.f5c9a","type":"change","z":"4d34c979.7acd48","name":"","rules":[{"t":"set","p":"payload.kelvin","pt":"msg","to":"payload.altitude","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":380,"wires":[["43bb9f54.4e777"]]},{"id":"6cbd12eb.4fdaec","type":"sun-position","z":"4d34c979.7acd48","name":"","positionConfig":"f1ce55a2.fcd558","rules":[],"onlyOnChange":"true","topic":"","outputs":1,"start":"","startType":"none","startOffset":0,"startOffsetType":"none","startOffsetMultiplier":60000,"end":"","endType":"none","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"x":310,"y":380,"wires":[["cb26bcab.f5c9a"]]},{"id":"bf5b8cf1.ec4c2","type":"api-call-service","z":"4d34c979.7acd48","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_text","service":"set_value","entityId":"input_text.daylight_rgb","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":true,"x":1510,"y":480,"wires":[[]]},{"id":"74fd7dfa.8bc6b4","type":"function","z":"4d34c979.7acd48","name":"RGB Data","func":"return {\n    payload: {\n        \"data\": {\n            \"value\": flow.get(\"circadian_rgb\").toString()\n        }\n    }\n}","outputs":1,"noerr":0,"x":1290,"y":480,"wires":[["bf5b8cf1.ec4c2"]]},{"id":"6dce4c70.38a8a4","type":"function","z":"4d34c979.7acd48","name":"Kelvin Data","func":"return {\n    payload: {\n        \"data\": {\n            \"value\": flow.get(\"circadian_kelvin\")\n        }\n    }\n}","outputs":1,"noerr":0,"x":1290,"y":540,"wires":[["d9d4e40f.1e2f48"]]},{"id":"d9d4e40f.1e2f48","type":"api-call-service","z":"4d34c979.7acd48","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.daylight_kelvin","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":true,"x":1520,"y":540,"wires":[[]]},{"id":"84c393a7.19107","type":"change","z":"4d34c979.7acd48","name":"ledge_strips_are_fluxed := false","rules":[{"t":"set","p":"ledge_strips_are_fluxed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":840,"wires":[[]]},{"id":"2370ff74.227fc","type":"change","z":"4d34c979.7acd48","name":"ledge_strips_are_fluxed := true","rules":[{"t":"set","p":"ledge_strips_are_fluxed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1410,"y":840,"wires":[[]]},{"id":"64981787.fd18f8","type":"http response","z":"4d34c979.7acd48","name":"","statusCode":"200","headers":{},"x":1520,"y":320,"wires":[]},{"id":"cfefc5bd.c1f8e8","type":"switch","z":"4d34c979.7acd48","d":true,"name":"is HTTP request","property":"res","propertyType":"msg","rules":[{"t":"istype","v":"object","vt":"object"}],"checkall":"true","repair":false,"outputs":1,"x":1320,"y":320,"wires":[["64981787.fd18f8"]]},{"id":"22cf8df7.f3d6d2","type":"inject","z":"4d34c979.7acd48","name":"","topic":"","payload":"{\"altitude\":-90}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":440,"wires":[["cb26bcab.f5c9a"]]},{"id":"35f7fd2c.ffe4b2","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Lights On","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.ledge_strips","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"hj4iazjncr","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"},{"id":"sg3tblo1wf","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":460,"y":900,"wires":[["81f27104.74dee"],[]]},{"id":"81f27104.74dee","type":"api-current-state","z":"4d34c979.7acd48","name":"Ledge Fluxer Is On/Off","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.ledge_fluxer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":780,"y":760,"wires":[["e370794.1ab4688"],["84c393a7.19107"]]},{"id":"71cf9d8c.22c764","type":"api-current-state","z":"4d34c979.7acd48","name":"Ledge Strips Are On","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"light.ledge_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":440,"y":780,"wires":[["81f27104.74dee"],["84c393a7.19107"]]},{"id":"19c94091.dfe66f","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Lights Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"light.ledge_strips","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"2rk3lvyp7l2","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":460,"y":1020,"wires":[["84c393a7.19107"],[]]},{"id":"f86ed797.9187e8","type":"server-state-changed","z":"c3c8a381.c1927","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":240,"y":380,"wires":[["5c9dce7b.f13a1"]]},{"id":"a0926286.bcb19","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Fluxer Switch On","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.ledge_fluxer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"82p99vyoycj","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"yzhrxpc961p","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":430,"y":840,"wires":[["81f27104.74dee","b3966e3e.2167b"],[]]},{"id":"bba75229.a9d2","type":"trigger-state","z":"4d34c979.7acd48","name":"Ledge Fluxer Switch Off","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"input_boolean.ledge_fluxer","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"oh4eijwt2jq","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"off"},{"id":"9r55ag39yns","targetType":"this_entity","targetValue":"","propertyType":"previous_state","propertyValue":"old_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":430,"y":960,"wires":[["84c393a7.19107"],[]]},{"id":"cc0617b9.6490c8","type":"link in","z":"4d34c979.7acd48","name":"Auto Updater","links":["563153d7.8339fc"],"x":55,"y":780,"wires":[["71cf9d8c.22c764"]]},{"id":"563153d7.8339fc","type":"link out","z":"4d34c979.7acd48","name":"Auto Updater","links":["cc0617b9.6490c8","17313e48.1a0442"],"x":1255,"y":380,"wires":[]},{"id":"2300b7f.3df0c48","type":"server-events","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","event_type":"deconz_event","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":140,"y":320,"wires":[["1685addb.5ac622"]]},{"id":"1685addb.5ac622","type":"function","z":"c6727c1e.1d54f","name":"Config","func":"flow.set(\"dimmerSwitchEventIds\", [\n   \"man_cave_dimmer_switch\",\n   \"master_bedroom_dimmer_switch\",\n   \"living_room_dimmer_switch\",\n   \"guest_room_dimmer_switch\"\n]);\n\nflow.set(\"dimmerGroupIds\", [\n    \"group.man_cave_lights\"\n]);\n\nflow.set(\"dimmerSwitchOnPressEvent\", 1000);\nflow.set(\"dimmerSwitchOnHoldEvent\", 1001);\nflow.set(\"dimmerSwitchOnReleaseEvent\", 1002);\n\nflow.set(\"dimmerSwitchBrightnessUpPressEvent\", 2000);\nflow.set(\"dimmerSwitchBrightnessUpHoldEvent\", 2001);\nflow.set(\"dimmerSwitchBrightnessUpReleaseEvent\", 2002);\n\nflow.set(\"dimmerSwitchBrightnessDownPressEvent\", 3000);\nflow.set(\"dimmerSwitchBrightnessDownHoldEvent\", 3001);\nflow.set(\"dimmerSwitchBrightnessDownReleaseEvent\", 3002);\n\nflow.set(\"dimmerSwitchOffPressEvent\", 4000);\nflow.set(\"dimmerSwitchOffHoldEvent\", 4001);\nflow.set(\"dimmerSwitchOffReleaseEvent\", 4002);\n\nflow.set(\"tapSwitchEventIds\", [\n    \"tap_switch_1\"\n]);\n\nflow.set(\"tapSwitchPressI\", 34);\nflow.set(\"tapSwitchPressII\", 16);\nflow.set(\"tapSwitchPressIII\", 17);\nflow.set(\"tapSwitchPressIV\", 18);\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":320,"wires":[["61566e8e.c582"]]},{"id":"61566e8e.c582","type":"switch","z":"c6727c1e.1d54f","name":"Devices","property":"payload.event.id","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchEventIds[0]","vt":"flow"},{"t":"eq","v":"dimmerSwitchEventIds[1]","vt":"flow"},{"t":"eq","v":"dimmerSwitchEventIds[2]","vt":"flow"},{"t":"eq","v":"dimmerSwitchEventIds[3]","vt":"flow"},{"t":"eq","v":"tapSwitchEventIds[0]","vt":"flow"}],"checkall":"true","repair":false,"outputs":5,"x":740,"y":320,"wires":[["975a74e9.ec9e08"],["49dab70e.08b9a8"],["49dab70e.08b9a8"],[],["c1c8621b.2fb1e"]]},{"id":"3fe31cd8.6b35b4","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchOnPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOnHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffHoldEvent","vt":"flow"}],"checkall":"true","repair":false,"outputs":8,"x":1210,"y":300,"wires":[["3193f7b5.211028"],["d50459e2.af91d8"],["4d4cb5a0.5e603c"],["27a91cc7.2609e4"],["15a52c34.e626d4"],["25950e5a.0f0162"],["ecabf116.651d9"],[]]},{"id":"3193f7b5.211028","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.man_cave_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":240,"wires":[[]]},{"id":"ecabf116.651d9","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.man_cave_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":600,"wires":[[]]},{"id":"1ad33a79.bcfbb6","type":"api-current-state","z":"1c2e799b.e17e86","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"time","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":190,"y":80,"wires":[["d647d482.63c1f8"]]},{"id":"d647d482.63c1f8","type":"function","z":"1c2e799b.e17e86","name":"Parse Time","func":"var hr = parseInt(msg.time.substring(0, 2));\nvar sceneId = \"\";\nif (hr >= 4 && hr < 8) {\n    sceneId = \"scene.man_cave_scene_wake_up\";\n}\nelse if (hr >= 8 && hr < 11) {\n    sceneId = \"scene.man_cave_scene_warm_white\";\n}\nelse if (hr >= 11 && hr < 16) {\n    sceneId = \"scene.man_cave_scene_focus\";\n}\nelse if (hr >= 16 && hr < 22) {\n    sceneId = \"scene.man_cave_scene_sweet_tart\";    \n}\nelse if (hr >= 22 || hr < 4) {\n    sceneId = \"scene.man_cave_scene_wind_down\";\n}\n\nmsg.man_cave_scene_id = sceneId;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["cf06adde.d4bc8"]]},{"id":"cf06adde.d4bc8","type":"api-call-service","z":"1c2e799b.e17e86","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{man_cave_scene_id}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":80,"wires":[[]]},{"id":"d50459e2.af91d8","type":"subflow:1c2e799b.e17e86","z":"c6727c1e.1d54f","name":"","env":[],"x":1460,"y":300,"wires":[[]]},{"id":"dae424d6.6e0b38","type":"status","z":"1c2e799b.e17e86","name":"","scope":["1ad33a79.bcfbb6","cf06adde.d4bc8"],"x":600,"y":140,"wires":[[]]},{"id":"dcfe0189.303cf","type":"api-current-state","z":"334bdfca.304fb","name":"Get Turned On Lights","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ payload }}","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":980,"y":80,"wires":[["ae868c5c.7e546"],[]]},{"id":"109b05f5.6d12fa","type":"split","z":"334bdfca.304fb","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":810,"y":80,"wires":[["dcfe0189.303cf"]]},{"id":"ba19d76.6fff928","type":"api-current-state","z":"334bdfca.304fb","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ flow.group_id }}","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":430,"y":80,"wires":[["a5656ef5.212ce"]]},{"id":"a5656ef5.212ce","type":"change","z":"334bdfca.304fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["109b05f5.6d12fa"]]},{"id":"ae868c5c.7e546","type":"api-call-service","z":"334bdfca.304fb","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"{{ data.entity_id }}","data":"","dataType":"json","mergecontext":"service_data","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1190,"y":80,"wires":[["3e462361.78b1dc"]]},{"id":"3e462361.78b1dc","type":"join","z":"334bdfca.304fb","name":"","mode":"custom","build":"array","property":"data.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":80,"wires":[[]]},{"id":"3430a23b.11092e","type":"function","z":"334bdfca.304fb","name":"Setup Variables","func":"flow.set(\"group_id\", msg.payload.group_id);\nflow.set(\"service_data\", msg.payload.service_data);\n\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":80,"wires":[["ba19d76.6fff928"]]},{"id":"4d4cb5a0.5e603c","type":"change","z":"c6727c1e.1d54f","name":"Brightness +50","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness_step\":50}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":360,"wires":[["b54c88d8.8c0658"]]},{"id":"975a74e9.ec9e08","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"flow","to":"group.man_cave_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":300,"wires":[["3fe31cd8.6b35b4"]]},{"id":"b54c88d8.8c0658","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":360,"wires":[[]]},{"id":"71cacd05.4a4054","type":"status","z":"334bdfca.304fb","name":"","scope":["ae868c5c.7e546"],"x":1160,"y":140,"wires":[[]]},{"id":"27a91cc7.2609e4","type":"change","z":"c6727c1e.1d54f","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":420,"wires":[["ed216922.a369c8"]]},{"id":"ed216922.a369c8","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":420,"wires":[[]]},{"id":"15a52c34.e626d4","type":"change","z":"c6727c1e.1d54f","name":"Brightness -50","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness_step\":-50}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":480,"wires":[["1caa6dd7.d5c952"]]},{"id":"1caa6dd7.d5c952","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":480,"wires":[[]]},{"id":"25950e5a.0f0162","type":"change","z":"c6727c1e.1d54f","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.man_cave_lights\",\"service_data\":{\"brightness\":3}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":540,"wires":[["1e9eea50.248bb6"]]},{"id":"1e9eea50.248bb6","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":540,"wires":[[]]},{"id":"39103474.3dd8fc","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"dimmerSwitchOnPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOnHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessUpHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchBrightnessDownHoldEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffPressEvent","vt":"flow"},{"t":"eq","v":"dimmerSwitchOffHoldEvent","vt":"flow"}],"checkall":"true","repair":false,"outputs":8,"x":1210,"y":760,"wires":[["8697b3b5.6b575"],[],["49419447.c7ca2c"],["8a833a79.b39998"],["2ad16649.f01bfa"],["e5357364.4f3bb"],["8d09fdf8.98d0a"],["4d9bb962.5ef998"]]},{"id":"8d09fdf8.98d0a","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.master_bedroom_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1450,"y":1060,"wires":[[]]},{"id":"49dab70e.08b9a8","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"flow","to":"group.master_bedroom_lights","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":760,"wires":[["39103474.3dd8fc"]]},{"id":"5d170fc2.95f3a","type":"status","z":"ea924b33.c97d48","name":"","scope":["59ff308e.1a228"],"x":540,"y":100,"wires":[[]]},{"id":"8697b3b5.6b575","type":"subflow:ea924b33.c97d48","z":"c6727c1e.1d54f","name":"","x":1480,"y":700,"wires":[[]]},{"id":"4d9bb962.5ef998","type":"api-current-state","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"above_horizon","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sun.sun","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1460,"y":1120,"wires":[["73ba33df.10a64c"],["4bb5243f.7e464c"]]},{"id":"4bb5243f.7e464c","type":"api-call-service","z":"c6727c1e.1d54f","name":"Back Yard Scene - Sleep","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.back_yard_scene_sleep","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1710,"y":1160,"wires":[[]]},{"id":"73ba33df.10a64c","type":"api-call-service","z":"c6727c1e.1d54f","name":"Back Yard Scene - Off","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"scene.back_yard_scene_off","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1700,"y":1100,"wires":[[]]},{"id":"27c0bf74.75f7c","type":"api-current-state","z":"ea924b33.c97d48","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.daylight_kelvin","state_type":"str","state_location":"kelvin","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":60,"wires":[["59ff308e.1a228"]]},{"id":"59ff308e.1a228","type":"api-call-service","z":"ea924b33.c97d48","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.master_bedroom_lights","data":"{\"kelvin\": {{kelvin}}, \"brightness\": 255}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":510,"y":60,"wires":[[]]},{"id":"17313e48.1a0442","type":"link in","z":"4d34c979.7acd48","name":"Auto Updater","links":["563153d7.8339fc"],"x":55,"y":1180,"wires":[["c85f7996.c00dd8"]]},{"id":"c85f7996.c00dd8","type":"api-current-state","z":"4d34c979.7acd48","name":"Man Cave Fluxer Is On","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.man_cave_fluxer","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":490,"y":1180,"wires":[["68e2ec8.0752a14"],[]]},{"id":"68e2ec8.0752a14","type":"function","z":"4d34c979.7acd48","name":"Slow Flux","func":"msg.payload = {\n    \"group_id\": \"group.man_cave_lights\",\n    \"service_data\": {\n        \"kelvin\": flow.get(\"circadian_kelvin\"),\n        \"transition\": 30\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1180,"wires":[["e20c120a.9d748"]]},{"id":"e20c120a.9d748","type":"subflow:334bdfca.304fb","z":"4d34c979.7acd48","name":"","env":[],"x":950,"y":1180,"wires":[[]]},{"id":"d4b15c2e.632aa","type":"subflow:1c2e799b.e17e86","z":"644cdf06.1e263","name":"","x":640,"y":1020,"wires":[[]]},{"id":"5e540243.7630cc","type":"trigger-state","z":"f7e7a8ac.19a538","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.smartthings_100_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"27mve08a4lj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":500,"y":480,"wires":[["2b802b04.20c664","d814d531.1255c8"],[]]},{"id":"87d1725d.3d478","type":"inject","z":"f7e7a8ac.19a538","name":"detected","topic":"","payload":"{\"entity_id\":\"binary_sensor.smartthings_100_motion\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":460,"wires":[["5e540243.7630cc"]]},{"id":"257443fa.bd49bc","type":"inject","z":"f7e7a8ac.19a538","name":"clear","topic":"","payload":"{\"entity_id\":\"binary_sensor.smartthings_100_motion\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":520,"wires":[["5e540243.7630cc"]]},{"id":"2b802b04.20c664","type":"switch","z":"f7e7a8ac.19a538","name":"STUB SWITCH","property":"automation_mode_stub","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":720,"wires":[["86658701.e48768"],["504ab52.bd9e54c"]]},{"id":"86658701.e48768","type":"api-current-state","z":"f7e7a8ac.19a538","name":"input_select.automation_mode","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.automation_mode","state_type":"str","state_location":"automation_mode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":430,"y":680,"wires":[["126d6723.05a819"]]},{"id":"504ab52.bd9e54c","type":"change","z":"f7e7a8ac.19a538","name":"USE STUB","rules":[{"t":"set","p":"automation_mode","pt":"msg","to":"automation_mode_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":740,"wires":[["126d6723.05a819"]]},{"id":"126d6723.05a819","type":"change","z":"f7e7a8ac.19a538","name":"NOOP","rules":[],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":740,"wires":[["bb5c27f0.58e798"]]},{"id":"bb5c27f0.58e798","type":"switch","z":"f7e7a8ac.19a538","name":"STUB SWITCH","property":"delay_stub","propertyType":"flow","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"null"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":820,"y":740,"wires":[["cf0ea84b.0465a8"],["cf0ea84b.0465a8"],["ce755374.81585"]]},{"id":"cf0ea84b.0465a8","type":"api-current-state","z":"f7e7a8ac.19a538","name":"input_number.laundry_room_light_timeout_seconds","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_number.laundry_room_light_timeout_seconds","state_type":"num","state_location":"delay","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":1130,"y":700,"wires":[["8e51611e.c6e3f"]]},{"id":"ce755374.81585","type":"change","z":"f7e7a8ac.19a538","name":"USE STUB","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":760,"wires":[["8e51611e.c6e3f"]]},{"id":"8e51611e.c6e3f","type":"change","z":"f7e7a8ac.19a538","name":"TO_MS","rules":[{"t":"set","p":"delay","pt":"msg","to":"delay * 1000","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":760,"wires":[["520cc6d7.48db18"]]},{"id":"b5ae382b.0aace8","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":40,"wires":[["2f43fea7.8e9762"]]},{"id":"2f43fea7.8e9762","type":"change","z":"f7e7a8ac.19a538","name":"","rules":[{"t":"set","p":"automation_mode_stub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":100,"wires":[[]]},{"id":"b5078860.1effc8","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":80,"wires":[["2f43fea7.8e9762"]]},{"id":"2d70d96f.3c5456","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"sleep","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["2f43fea7.8e9762"]]},{"id":"38b8e742.673b98","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"vacation","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":160,"wires":[["2f43fea7.8e9762"]]},{"id":"d72bc185.f0bec","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"guest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["2f43fea7.8e9762"]]},{"id":"ece6e806.fe8b88","type":"inject","z":"f7e7a8ac.19a538","name":"disabled","topic":"","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":240,"wires":[["2f43fea7.8e9762"]]},{"id":"7a6ff283.cb1dbc","type":"comment","z":"f7e7a8ac.19a538","name":"Automation Mode Stubs","info":"Use these injects to override the the value of input_select.automation_mode. Use the \"disable\" to resume using the value from home assistant.","x":120,"y":40,"wires":[]},{"id":"5343a78c.42a8f8","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"1800","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":40,"wires":[["b2ba7b9d.7ed888"]]},{"id":"946de77a.eedff8","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"60","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":80,"wires":[["b2ba7b9d.7ed888"]]},{"id":"20d29fd0.d8a67","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":120,"wires":[["b2ba7b9d.7ed888"]]},{"id":"5cf013d1.41724c","type":"inject","z":"f7e7a8ac.19a538","name":"disable","topic":"","payload":"-1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":970,"y":160,"wires":[["b2ba7b9d.7ed888"]]},{"id":"b2ba7b9d.7ed888","type":"change","z":"f7e7a8ac.19a538","name":"","rules":[{"t":"set","p":"delay_stub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":100,"wires":[[]]},{"id":"520cc6d7.48db18","type":"subflow:47ecb152.aed62","z":"f7e7a8ac.19a538","name":"","env":[],"x":340,"y":940,"wires":[["1309328b.55f15d","f82c2076.62d1c"]]},{"id":"23e8d1e6.064b6e","type":"api-current-state","z":"47ecb152.aed62","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.time","state_type":"str","state_location":"time","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":170,"y":60,"wires":[["947d7356.6f253"]]},{"id":"947d7356.6f253","type":"function","z":"47ecb152.aed62","name":"Parse Time","func":"var hr = parseInt(msg.time.substring(0, 2));\nvar sceneId = \"\";\nif ((hr >= 4 && hr < 7) || (hr >= 21 && hr < 24)) {\n    sceneId = \"scene.laundry_room_scene_night\";\n}\nelse if (hr >= 7 && hr < 21) {\n    sceneId = \"scene.laundry_room_scene_bright\";\n}\nelse if (hr >= 0 && hr < 4) {\n    sceneId = \"scene.laundry_room_scene_late_night\";    \n}\n\nmsg.scene_id = sceneId;\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":60,"wires":[["f8dcb71.20d6848"]]},{"id":"f8dcb71.20d6848","type":"api-call-service","z":"47ecb152.aed62","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"scene","service":"turn_on","entityId":"","data":"{\"entity_id\":\"{{scene_id}}\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":580,"y":60,"wires":[[]]},{"id":"c94198a5.999958","type":"status","z":"47ecb152.aed62","name":"","scope":["f8dcb71.20d6848"],"x":580,"y":120,"wires":[[]]},{"id":"8a833a79.b39998","type":"change","z":"c6727c1e.1d54f","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.master_bedroom_lights\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":820,"wires":[["2868e10f.d9f42e"]]},{"id":"2868e10f.d9f42e","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":820,"wires":[[]]},{"id":"e5357364.4f3bb","type":"change","z":"c6727c1e.1d54f","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.master_bedroom_lights\",\"service_data\":{\"brightness\":3}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":940,"wires":[["e411bd5a.c4eaf"]]},{"id":"e411bd5a.c4eaf","type":"subflow:334bdfca.304fb","z":"c6727c1e.1d54f","name":"","env":[],"x":1650,"y":940,"wires":[[]]},{"id":"49419447.c7ca2c","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group.master_bedroom_lights","tot":"str"},{"t":"set","p":"light_id","pt":"msg","to":"light.master_bedroom_lights","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":760,"wires":[["a4ed5c9a.00f78"]]},{"id":"85922967.04d138","type":"api-current-state","z":"3b8908a.fcea8f8","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ light_id }}","state_type":"str","state_location":"state","override_payload":"flow","entity_location":"entity","override_data":"flow","blockInputOverrides":false,"x":230,"y":60,"wires":[["782cf826.53d368"]]},{"id":"782cf826.53d368","type":"function","z":"3b8908a.fcea8f8","name":"","func":"var brightness = flow.get(\"entity\").attributes.brightness;\nvar group_id = msg.group_id;\nvar interval = msg.brightness_interval;\n\nbrightness = brightness + interval;\n\nif (brightness > 254) {\n    brightness = 255;\n}\n\nmsg.payload = {\n    \"group_id\": group_id,\n    \"service_data\": {\n        \"brightness\": brightness\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":60,"wires":[["7c4ff98f.a61b98"]]},{"id":"7c4ff98f.a61b98","type":"subflow:334bdfca.304fb","z":"3b8908a.fcea8f8","name":"","env":[],"x":650,"y":60,"wires":[[]]},{"id":"2ad16649.f01bfa","type":"change","z":"c6727c1e.1d54f","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group.master_bedroom_lights","tot":"str"},{"t":"set","p":"light_id","pt":"msg","to":"light.master_bedroom_lights","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":880,"wires":[["223b2b69.cc0644"]]},{"id":"45351442.4ff2cc","type":"api-current-state","z":"42ad5100.25527","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ light_id }}","state_type":"str","state_location":"state","override_payload":"flow","entity_location":"entity","override_data":"flow","blockInputOverrides":false,"x":210,"y":80,"wires":[["3d78e0.b23ce72"]]},{"id":"3d78e0.b23ce72","type":"function","z":"42ad5100.25527","name":"","func":"var group_id = msg.group_id;\nvar brightness = flow.get(\"entity\").attributes.brightness;\nvar interval = msg.brightness_interval ? msg.brightness_interval : 50;\n\nbrightness = brightness - interval;\nif (brightness < 3) {\n    brightness = 3;\n}\n\nmsg.payload = {\n    \"group_id\": group_id,\n    \"service_data\": {\n        \"brightness\": brightness\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":80,"wires":[["e4530942.d23ba8"]]},{"id":"e4530942.d23ba8","type":"subflow:334bdfca.304fb","z":"42ad5100.25527","name":"","env":[],"x":710,"y":80,"wires":[[]]},{"id":"1f9de8e8.230de7","type":"status","z":"3b8908a.fcea8f8","name":"","scope":["7c4ff98f.a61b98"],"x":400,"y":160,"wires":[[]]},{"id":"a4ed5c9a.00f78","type":"subflow:3b8908a.fcea8f8","z":"c6727c1e.1d54f","name":"","x":1690,"y":760,"wires":[[]]},{"id":"223b2b69.cc0644","type":"subflow:42ad5100.25527","z":"c6727c1e.1d54f","x":1700,"y":880,"wires":[[]]},{"id":"e49a5dd.e1210a","type":"status","z":"42ad5100.25527","name":"","scope":["e4530942.d23ba8"],"x":580,"y":180,"wires":[[]]},{"id":"e370794.1ab4688","type":"function","z":"4d34c979.7acd48","name":"Svc Data","func":"msg.payload = {\n    \"group_id\": \"group.great_room_strips\",\n    \"service_data\": {\n        \"kelvin\": flow.get(\"circadian_kelvin\"),\n        \"transition\": flow.get(\"ledge_strips_are_fluxed\") ? 30 : 3\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":760,"wires":[["eaefd140.4ab73"]]},{"id":"eaefd140.4ab73","type":"subflow:334bdfca.304fb","z":"4d34c979.7acd48","name":"","env":[],"x":1310,"y":760,"wires":[["2370ff74.227fc"]]},{"id":"c48cc157.35d3a","type":"server-events","z":"9262859d.559bc8","name":"","server":"a86c4410.e2a568","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":330,"y":320,"wires":[["e3a5bc6f.7cfb8"]]},{"id":"e3a5bc6f.7cfb8","type":"switch","z":"9262859d.559bc8","name":"","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.ledge_strips_brightness_increase","vt":"str"},{"t":"eq","v":"script.ledge_strips_brightness_decrease","vt":"str"},{"t":"eq","v":"script.ledge_strips_brightness_max","vt":"str"},{"t":"eq","v":"script.ledge_strips_brightness_min","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":530,"y":320,"wires":[["adc81db3.319bd"],["33db0149.d158ae"],["3b48b48a.ec20cc"],["573fdce2.09afa4"]]},{"id":"a5dcc74c.c40298","type":"subflow:3b8908a.fcea8f8","z":"9262859d.559bc8","name":"","x":990,"y":240,"wires":[[]]},{"id":"67a8cf00.a3cd6","type":"subflow:42ad5100.25527","z":"9262859d.559bc8","name":"","x":1000,"y":300,"wires":[[]]},{"id":"adc81db3.319bd","type":"change","z":"9262859d.559bc8","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group.ledge_strips","tot":"str"},{"t":"set","p":"light_id","pt":"msg","to":"light.ledge_strips","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":240,"wires":[["a5dcc74c.c40298"]]},{"id":"33db0149.d158ae","type":"change","z":"9262859d.559bc8","name":"","rules":[{"t":"set","p":"group_id","pt":"msg","to":"group.ledge_strips","tot":"str"},{"t":"set","p":"light_id","pt":"msg","to":"light.ledge_strips","tot":"str"},{"t":"set","p":"brightness_interval","pt":"msg","to":"50","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":300,"wires":[["67a8cf00.a3cd6"]]},{"id":"ae65deba.ab696","type":"subflow:334bdfca.304fb","z":"9262859d.559bc8","name":"","x":970,"y":360,"wires":[[]]},{"id":"3b48b48a.ec20cc","type":"change","z":"9262859d.559bc8","name":"Brightness Max","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.ledge_strips\",\"service_data\":{\"brightness\":255}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":360,"wires":[["ae65deba.ab696"]]},{"id":"2c318d7c.537d02","type":"subflow:334bdfca.304fb","z":"9262859d.559bc8","name":"","x":970,"y":420,"wires":[[]]},{"id":"573fdce2.09afa4","type":"change","z":"9262859d.559bc8","name":"Brightness Min","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"group_id\":\"group.ledge_strips\",\"service_data\":{\"brightness\":1}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[["2c318d7c.537d02"]]},{"id":"7cabb57e.a3fe9c","type":"api-current-state","z":"379b35a.32b8cca","name":"Get Turned On Lights","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"{{ payload }}","state_type":"str","state_location":"state","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":900,"y":580,"wires":[["ee1ff120.91a98"],[]]},{"id":"dddd5dbf.bd5bf","type":"split","z":"379b35a.32b8cca","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":710,"y":580,"wires":[["7cabb57e.a3fe9c"]]},{"id":"2df98919.f06916","type":"api-current-state","z":"379b35a.32b8cca","name":"","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.great_room_strips","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":250,"y":580,"wires":[["365a5f8d.c78c"]]},{"id":"365a5f8d.c78c","type":"change","z":"379b35a.32b8cca","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.attributes.entity_id","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":580,"wires":[["dddd5dbf.bd5bf"]]},{"id":"475980ba.ad5e6","type":"api-call-service","z":"379b35a.32b8cca","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1250,"y":580,"wires":[["6c08d63a.aa5a58"]]},{"id":"6c08d63a.aa5a58","type":"join","z":"379b35a.32b8cca","name":"","mode":"custom","build":"array","property":"data.entity_id","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":580,"wires":[[]]},{"id":"ee1ff120.91a98","type":"function","z":"379b35a.32b8cca","name":"","func":"var hue = Math.floor(Math.random() * 361);\nvar saturation = 80 + Math.floor(Math.random() * 21);\n\nmsg.hue = hue;\nmsg.saturation = saturation;\n\nflow.set(\"service_data\", {\n    \"entity_id\": msg.data.entity_id,\n    \"hs_color\": [hue, saturation]\n});\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"entity_id\": msg.data.entity_id,\n        \"hs_color\": [hue, saturation],\n        \"transition\": 10\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":580,"wires":[["475980ba.ad5e6"]]},{"id":"df3374fe.8d3208","type":"trigger","z":"379b35a.32b8cca","op1":"","op2":"0","op1type":"str","op2type":"str","duration":"-10000","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":680,"y":280,"wires":[["2df98919.f06916"]]},{"id":"a0264818.6e5538","type":"change","z":"379b35a.32b8cca","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":340,"wires":[["df3374fe.8d3208"]]},{"id":"92c35daf.ffb4d","type":"server-state-changed","z":"379b35a.32b8cca","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.great_room_shuffler","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"on","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":230,"y":280,"wires":[["df3374fe.8d3208","f907017f.948b5"],["a0264818.6e5538"]]},{"id":"b3966e3e.2167b","type":"api-call-service","z":"4d34c979.7acd48","name":"Turn off Great Room Shuffler","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.great_room_shuffler","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":800,"y":700,"wires":[[]]},{"id":"f907017f.948b5","type":"api-call-service","z":"379b35a.32b8cca","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.ledge_fluxer","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":700,"y":220,"wires":[[]]},{"id":"ef9dca67.5f5ab8","type":"trigger-state","z":"d1f48851.ea8a08","name":"Time == 21:00","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"sensor.time","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"h3dxej3ke5w","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"21:00"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":420,"y":340,"wires":[["a1581e14.efa7d"],[]]},{"id":"a1581e14.efa7d","type":"api-current-state","z":"d1f48851.ea8a08","name":"Garage Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":680,"y":340,"wires":[["f22a597.e0ed5a8"],[]]},{"id":"a947c96a.cc01b8","type":"api-call-service","z":"d1f48851.ea8a08","name":"Notify Andrew - Garage Door","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"title\":\"Garage Left Open\",\"message\":\"Don't forget to close it tonight!\",\"data\":{\"actions\":[{\"action\":\"notify_action_close_garage\",\"title\":\"Close Now\"},{\"action\":\"notify_action_close_garage_snooze\",\"title\":\"Snooze 1hr\"}],\"tag\":\"notify_close_garage\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1560,"y":340,"wires":[[]]},{"id":"dfbde3c2.e5d06","type":"server-events","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","event_type":"mobile_app_notification_action","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":310,"y":900,"wires":[["cc14a900.095218","26cfdfdd.934ac","f1dce928.8d2238"]]},{"id":"cc14a900.095218","type":"switch","z":"d1f48851.ea8a08","name":"Close Garage","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_close_garage","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":900,"wires":[["10cfba2.08dba46"]]},{"id":"32d9d84e.dd7988","type":"api-call-service","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1200,"y":900,"wires":[[]]},{"id":"5f7af048.2fa5b","type":"inject","z":"d1f48851.ea8a08","name":"TEST - 9PM","topic":"","payload":"{\"entity_id\":\"sensor.time\",\"old_state\":{\"state\":\"20:59\"},\"new_state\":{\"state\":\"21:00\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":340,"wires":[["ef9dca67.5f5ab8"]]},{"id":"10cfba2.08dba46","type":"api-current-state","z":"d1f48851.ea8a08","name":"Garage Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":820,"y":900,"wires":[["b35130f2.18593"],[]]},{"id":"9a464a59.d2a138","type":"inject","z":"d1f48851.ea8a08","name":"","topic":"Debug","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":100,"wires":[["489a3adc.3bb894"]]},{"id":"e139ba3.0700e48","type":"inject","z":"d1f48851.ea8a08","name":"","topic":"Debug","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":870,"y":140,"wires":[["489a3adc.3bb894"]]},{"id":"489a3adc.3bb894","type":"change","z":"d1f48851.ea8a08","name":"","rules":[{"t":"set","p":"debug","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":120,"wires":[[]]},{"id":"7374cac1.9a9534","type":"debug","z":"d1f48851.ea8a08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":860,"wires":[]},{"id":"b35130f2.18593","type":"switch","z":"d1f48851.ea8a08","name":"","property":"debug","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":900,"wires":[["7374cac1.9a9534"],["32d9d84e.dd7988"]]},{"id":"117e9460.a3892c","type":"inject","z":"d1f48851.ea8a08","name":"","topic":"Startup","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":180,"y":80,"wires":[["7d78b4f8.23c34c"]]},{"id":"7d78b4f8.23c34c","type":"change","z":"d1f48851.ea8a08","name":"","rules":[{"t":"set","p":"notify_service_andrews_phone","pt":"flow","to":"mobile_app_galaxy_s10_mobile_app","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[[]]},{"id":"f22a597.e0ed5a8","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a5c9ca97.4a1be8"],"x":815,"y":340,"wires":[]},{"id":"a5c9ca97.4a1be8","type":"link in","z":"d1f48851.ea8a08","name":"","links":["f22a597.e0ed5a8","74303e34.7e993"],"x":1375,"y":340,"wires":[["a947c96a.cc01b8"]]},{"id":"402a210c.3ecb7","type":"api-call-service","z":"d1f48851.ea8a08","name":"Dismiss Andrew - Garage Door","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"notify_close_garage\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1570,"y":400,"wires":[[]]},{"id":"62eb2629.ef5988","type":"trigger-state","z":"d1f48851.ea8a08","name":"Garage == Closed","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"d35ta03cu4","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":430,"y":420,"wires":[["35344c4.61c03b4"],[]]},{"id":"35344c4.61c03b4","type":"link out","z":"d1f48851.ea8a08","name":"","links":["ed3ccd2.687913","812d89ab.773bc8","1fe29f88.4f0b8"],"x":575,"y":420,"wires":[]},{"id":"ed3ccd2.687913","type":"link in","z":"d1f48851.ea8a08","name":"","links":["35344c4.61c03b4"],"x":1375,"y":400,"wires":[["402a210c.3ecb7"]]},{"id":"4e142c87.db3074","type":"inject","z":"d1f48851.ea8a08","name":"TEST - CLOSE GARAGE","topic":"","payload":"{\"entity_id\":\"cover.garage_door\",\"old_state\":{\"state\":\"closing\"},\"new_state\":{\"state\":\"closed\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":420,"wires":[["62eb2629.ef5988"]]},{"id":"f003a50a.dc85f8","type":"comment","z":"d1f48851.ea8a08","name":"--TRIGGERS--","info":"","x":420,"y":260,"wires":[]},{"id":"83ff35d8.8098b8","type":"comment","z":"d1f48851.ea8a08","name":"--NOTIFICATIONS--","info":"","x":1530,"y":280,"wires":[]},{"id":"70273380.5c55dc","type":"comment","z":"d1f48851.ea8a08","name":"--NOTIFICATION ACTIONS--","info":"","x":280,"y":840,"wires":[]},{"id":"26cfdfdd.934ac","type":"switch","z":"d1f48851.ea8a08","name":"Close Garage Snooze","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_close_garage_snooze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1000,"wires":[["de04cad8.d4e5c8"]]},{"id":"de04cad8.d4e5c8","type":"trigger","z":"d1f48851.ea8a08","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":870,"y":1000,"wires":[["837ea70.bd8d858"]]},{"id":"837ea70.bd8d858","type":"api-current-state","z":"d1f48851.ea8a08","name":"Garage Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"open","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"cover.garage_door","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1060,"y":1000,"wires":[["74303e34.7e993"],[]]},{"id":"74303e34.7e993","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a5c9ca97.4a1be8"],"x":1195,"y":1000,"wires":[]},{"id":"812d89ab.773bc8","type":"link in","z":"d1f48851.ea8a08","name":"","links":["35344c4.61c03b4"],"x":595,"y":1060,"wires":[["27c93f5c.5d22e"]]},{"id":"27c93f5c.5d22e","type":"change","z":"d1f48851.ea8a08","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1060,"wires":[["de04cad8.d4e5c8"]]},{"id":"6aa0af0f.bd9dd","type":"delay","z":"f7e7a8ac.19a538","d":true,"name":"delay","pauseType":"delayv","timeout":"10","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":430,"y":1340,"wires":[[]]},{"id":"d814d531.1255c8","type":"change","z":"f7e7a8ac.19a538","name":"reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":480,"wires":[["1a620204.c6ab7e"]]},{"id":"1a620204.c6ab7e","type":"trigger","z":"f7e7a8ac.19a538","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":990,"y":980,"wires":[["f5fa066f.2366b8"]]},{"id":"f5fa066f.2366b8","type":"api-call-service","z":"f7e7a8ac.19a538","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.laundry_room_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1220,"y":980,"wires":[["3d9ba4a0.05de9c"]]},{"id":"1309328b.55f15d","type":"ha-wait-until","z":"f7e7a8ac.19a538","name":"","server":"a86c4410.e2a568","outputs":1,"entityId":"binary_sensor.smartthings_100_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":600,"y":940,"wires":[["1a620204.c6ab7e"]]},{"id":"3d9ba4a0.05de9c","type":"debug","z":"f7e7a8ac.19a538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1540,"y":980,"wires":[]},{"id":"f82c2076.62d1c","type":"debug","z":"f7e7a8ac.19a538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1080,"wires":[]},{"id":"dacec09d.fd10a","type":"inject","z":"f7e7a8ac.19a538","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":1060,"wires":[["520cc6d7.48db18"]]},{"id":"c1c8621b.2fb1e","type":"switch","z":"c6727c1e.1d54f","name":"Event","property":"payload.event.event","propertyType":"msg","rules":[{"t":"eq","v":"tapSwitchPressI","vt":"flow"},{"t":"eq","v":"tapSwitchPressII","vt":"flow"},{"t":"eq","v":"tapSwitchPressIII","vt":"flow"},{"t":"eq","v":"tapSwitchPressIV","vt":"flow"}],"checkall":"true","repair":false,"outputs":4,"x":1210,"y":1420,"wires":[["b6fdcaf1.5c32c8"],["e79de220.5fa54"],["1bd8a74c.708cf9"],["c98f6e89.5f9f"]]},{"id":"b6fdcaf1.5c32c8","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"toggle","entityId":"light.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1460,"y":1320,"wires":[[]]},{"id":"8e67f350.378e","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.flex_strip_112","data":"","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":1610,"y":1380,"wires":[[]]},{"id":"e79de220.5fa54","type":"function","z":"c6727c1e.1d54f","name":"","func":"var hue = Math.floor(Math.random() * 361);\nvar saturation = 80 + Math.floor(Math.random() * 21);\n\nmsg.hue = hue;\nmsg.saturation = saturation;\n\nflow.set(\"service_data\", {\n    \"entity_id\": \"light.flex_strip_112\",\n    \"hs_color\": [hue, saturation]\n});\n\nmsg.payload = {\n    \"domain\": \"light\",\n    \"service\": \"turn_on\",\n    \"data\": {\n        \"entity_id\": \"light.flex_strip_112\",\n        \"hs_color\": [hue, saturation]\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":1380,"wires":[["8e67f350.378e"]]},{"id":"c98f6e89.5f9f","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"cover","service":"toggle","entityId":"cover.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":1500,"wires":[[]]},{"id":"1bd8a74c.708cf9","type":"api-call-service","z":"c6727c1e.1d54f","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"toggle","entityId":"switch.ikea_outlet_103","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1470,"y":1440,"wires":[[]]},{"id":"8847040c.233cd8","type":"api-call-service","z":"d1f48851.ea8a08","name":"Notify Andrew - Catio","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"title\":\"Catio Left Open\",\"message\":\"Don't forget to close the catio!\",\"data\":{\"actions\":[{\"action\":\"notify_action_close_catio_snooze\",\"title\":\"Snooze 1hr\"}],\"tag\":\"notify_close_catio\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1540,"y":480,"wires":[[]]},{"id":"f1dce928.8d2238","type":"switch","z":"d1f48851.ea8a08","name":"Close Catio Snooze","property":"payload.event.action","propertyType":"msg","rules":[{"t":"eq","v":"notify_action_close_catio_snooze","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":1140,"wires":[["b57cae1d.8e2fb"]]},{"id":"b57cae1d.8e2fb","type":"trigger","z":"d1f48851.ea8a08","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":870,"y":1140,"wires":[["85aa99c4.1193c8"]]},{"id":"85aa99c4.1193c8","type":"api-current-state","z":"d1f48851.ea8a08","name":"Catio Open?","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"binary_sensor.catio_door_sensor","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1050,"y":1140,"wires":[["d9fa1f1b.d29b8"],[]]},{"id":"a8a6e08c.f44c6","type":"link in","z":"d1f48851.ea8a08","name":"","links":["d9fa1f1b.d29b8","273513e7.a6ca9c"],"x":1375,"y":480,"wires":[["8847040c.233cd8"]]},{"id":"d9fa1f1b.d29b8","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a8a6e08c.f44c6"],"x":1180,"y":1140,"wires":[]},{"id":"f207ed69.aef8","type":"trigger-state","z":"d1f48851.ea8a08","name":"","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.catio_door_sensor","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ualc9almp4","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":520,"y":500,"wires":[["c3210f61.2fddc"],["91bfa7ec.3f0028","6a20862c.8ff338"]]},{"id":"91bfa7ec.3f0028","type":"link out","z":"d1f48851.ea8a08","name":"","links":["d8f8d393.e4651","1fe29f88.4f0b8"],"x":755,"y":560,"wires":[]},{"id":"63360d40.6b3794","type":"api-call-service","z":"d1f48851.ea8a08","name":"Dismiss Andrew - Catio","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"notify","service":"{{ flow.notify_service_andrews_phone }}","entityId":"","data":"{\"message\":\"clear_notification\",\"data\":{\"tag\":\"notify_close_catio\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1550,"y":540,"wires":[[]]},{"id":"d8f8d393.e4651","type":"link in","z":"d1f48851.ea8a08","name":"","links":["91bfa7ec.3f0028"],"x":1375,"y":540,"wires":[["63360d40.6b3794"]]},{"id":"e234170b.377878","type":"inject","z":"d1f48851.ea8a08","name":"TEST - OPEN CATIO","topic":"","payload":"{\"entity_id\":\"binary_sensor.catio_door_sensor\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":480,"wires":[["f207ed69.aef8"]]},{"id":"9dff62b6.0c4ee","type":"inject","z":"d1f48851.ea8a08","name":"TEST - CLOSE CATIO","topic":"","payload":"{\"entity_id\":\"binary_sensor.catio_door_sensor\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":520,"wires":[["f207ed69.aef8"]]},{"id":"c3210f61.2fddc","type":"trigger","z":"d1f48851.ea8a08","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"1","extend":false,"units":"hr","reset":"","bytopic":"all","name":"","x":970,"y":480,"wires":[["273513e7.a6ca9c"]]},{"id":"6a20862c.8ff338","type":"change","z":"d1f48851.ea8a08","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":520,"wires":[["c3210f61.2fddc"]]},{"id":"273513e7.a6ca9c","type":"link out","z":"d1f48851.ea8a08","name":"","links":["a8a6e08c.f44c6"],"x":1075,"y":480,"wires":[]},{"id":"1fe29f88.4f0b8","type":"link in","z":"d1f48851.ea8a08","name":"","links":["35344c4.61c03b4","91bfa7ec.3f0028"],"x":595,"y":1200,"wires":[["12510855.fadfa8"]]},{"id":"12510855.fadfa8","type":"change","z":"d1f48851.ea8a08","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1200,"wires":[["b57cae1d.8e2fb"]]},{"id":"561b5996.8c0308","type":"http request","z":"4e00d3e0.bf207c","name":"Get API Key","method":"use","ret":"obj","paytoqs":false,"url":"http://127.0.0.1:40850/api","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":580,"wires":[["7cff6501.1a866c"]]},{"id":"1230a5a7.3a47ba","type":"inject","z":"4e00d3e0.bf207c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":580,"wires":[["3605afe9.4abda"]]},{"id":"d6abb125.2a325","type":"comment","z":"4e00d3e0.bf207c","name":"Generate new API key","info":"","x":340,"y":520,"wires":[]},{"id":"3605afe9.4abda","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://127.0.0.1:40850/api","tot":"str"},{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"headers","pt":"msg","to":"Content-Type: application/json","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"devicetype\":\"hassnodered\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":580,"wires":[["561b5996.8c0308"]]},{"id":"7cff6501.1a866c","type":"switch","z":"4e00d3e0.bf207c","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"eq","v":"403","vt":"str"},{"t":"eq","v":"404","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":690,"y":580,"wires":[["1dcd26f4.1e89a9"],["be15ffe4.e2149"],["dd0da02e.5be99"],["8d9ade53.3de2a"]]},{"id":"1dcd26f4.1e89a9","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"\"Success! Your new API key is \" & msg.payload[0].success.username","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":500,"wires":[["360fabb4.afe634"]]},{"id":"be15ffe4.e2149","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"You probably forgot to press the Link button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":560,"wires":[["360fabb4.afe634"]]},{"id":"dd0da02e.5be99","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"Check your URL, make sure to choose POST","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":620,"wires":[["360fabb4.afe634"]]},{"id":"8d9ade53.3de2a","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"hint","pt":"msg","to":"Check payload for error details","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":680,"wires":[["360fabb4.afe634"]]},{"id":"360fabb4.afe634","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1080,"y":580,"wires":[]},{"id":"fed3f347.dcfbb","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:04:b6:67:9e-02-0406","device_name":"Man Cave Motion Sensor : ZHAPresence","state":"0","x":490,"y":880,"wires":[["e67e1cba.5a9f6"]]},{"id":"62d79ce0.267714","type":"inject","z":"4e00d3e0.bf207c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":880,"wires":[["fed3f347.dcfbb"]]},{"id":"e67e1cba.5a9f6","type":"function","z":"4e00d3e0.bf207c","name":"","func":"var id = msg.meta.device_id;\n\nvar url = flow.get(\"deconz_api_url\");\nvar port = flow.get(\"deconz_api_port\");\nvar key = flow.get(\"deconz_api_key\");\n\nmsg.url = url + ':' + port + '/api/' + key + '/sensors/' + id + \"/config\";\n\nmsg.payload = {\n    \"sensitivity\": 4\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":880,"wires":[["44252af.e630fd4"]]},{"id":"44252af.e630fd4","type":"http request","z":"4e00d3e0.bf207c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":880,"wires":[["ac7b4c16.bdef9"]]},{"id":"ac7b4c16.bdef9","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":880,"wires":[]},{"id":"5083e002.84a08","type":"inject","z":"4e00d3e0.bf207c","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":320,"wires":[["2dd61e98.d969f2"]]},{"id":"2dd61e98.d969f2","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"deconz_api_url","pt":"flow","to":"http://127.0.0.1","tot":"str"},{"t":"set","p":"deconz_api_port","pt":"flow","to":"40850","tot":"str"},{"t":"set","p":"deconz_api_key","pt":"flow","to":"8CEFBE7722","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["e06a9b58.90bdf8"]]},{"id":"87ac2957.676fa8","type":"server-state-changed","z":"4e00d3e0.bf207c","name":"","server":"a86c4410.e2a568","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.hue_201_motion_sensitivity","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":250,"y":980,"wires":[["44a0bcc4.8fa004"]]},{"id":"44a0bcc4.8fa004","type":"change","z":"4e00d3e0.bf207c","name":"","rules":[{"t":"set","p":"new_sensitivity","pt":"flow","to":"$number(msg.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":980,"wires":[["1bcbc07e.c28ef"]]},{"id":"1bcbc07e.c28ef","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:06:45:7a:3e-02-0406","device_name":"Hue 201 : ZHAPresence","state":"0","x":870,"y":980,"wires":[["1b24c0f5.76dbef"]]},{"id":"1b24c0f5.76dbef","type":"function","z":"4e00d3e0.bf207c","name":"","func":"var id = msg.meta.device_id;\n\nvar url = flow.get(\"deconz_api_url\");\nvar port = flow.get(\"deconz_api_port\");\nvar key = flow.get(\"deconz_api_key\");\n\nmsg.url = url + ':' + port + '/api/' + key + '/sensors/' + id + \"/config\";\n\nmsg.payload = {\n    \"sensitivity\": flow.get(\"new_sensitivity\")\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":980,"wires":[["f27dcbe5.331868"]]},{"id":"f27dcbe5.331868","type":"http request","z":"4e00d3e0.bf207c","name":"","method":"PUT","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1230,"y":980,"wires":[["6a7ade0.f6fd024"]]},{"id":"6a7ade0.f6fd024","type":"debug","z":"4e00d3e0.bf207c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":980,"wires":[]},{"id":"e06a9b58.90bdf8","type":"deconz-get","z":"4e00d3e0.bf207c","name":"","server":"a5b7b1da.e5e93","device":"00:17:88:01:06:45:7a:3e-02-0406","device_name":"Hue 201 : ZHAPresence","state":"0","x":610,"y":320,"wires":[["5e5b39a4.aea3b8"]]},{"id":"5e5b39a4.aea3b8","type":"function","z":"4e00d3e0.bf207c","name":"","func":"msg.payload = {\n    'data': {\n        'value': parseInt(msg.meta.config.sensitivity)\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":320,"wires":[["d101cbd6.a48968"]]},{"id":"d101cbd6.a48968","type":"api-call-service","z":"4e00d3e0.bf207c","name":"","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"input_number","service":"set_value","entityId":"input_number.hue_201_motion_sensitivity","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1030,"y":320,"wires":[[]]},{"id":"e77386cf.2e8968","type":"inject","z":"4e00d3e0.bf207c","name":"","topic":"\"0\"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":390,"y":1060,"wires":[["44a0bcc4.8fa004"]]},{"id":"e709b846.558fc8","type":"trigger-state","z":"d0661cff.7e5c6","name":"Garage Motion","server":"a86c4410.e2a568","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityid":"binary_sensor.hue_201_motion","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"27mve08a4lj","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"on"}],"constraintsmustmatch":"all","outputs":2,"customoutputs":[],"outputinitially":false,"state_type":"str","x":280,"y":360,"wires":[["5e002aca.e0d7a4"],[]]},{"id":"4916868.f91d378","type":"inject","z":"d0661cff.7e5c6","name":"detected","topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_201_motion\",\"old_state\":{\"state\":\"off\"},\"new_state\":{\"state\":\"on\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":340,"wires":[["e709b846.558fc8"]]},{"id":"cd8bec5c.590f7","type":"inject","z":"d0661cff.7e5c6","name":"clear","topic":"","payload":"{\"entity_id\":\"binary_sensor.hue_201_motion\",\"old_state\":{\"state\":\"on\"},\"new_state\":{\"state\":\"off\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["e709b846.558fc8"]]},{"id":"799df83.7a4ec08","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"home","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":40,"wires":[["cb298c38.2b1ef"]]},{"id":"cb298c38.2b1ef","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"automation_mode_stub","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":100,"wires":[[]]},{"id":"1fca23a7.d462cc","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"away","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":80,"wires":[["cb298c38.2b1ef"]]},{"id":"e0308a69.c66e88","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"sleep","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":120,"wires":[["cb298c38.2b1ef"]]},{"id":"e13b1c3d.a2594","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"vacation","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":160,"wires":[["cb298c38.2b1ef"]]},{"id":"5e958abf.dda314","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"guest","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["cb298c38.2b1ef"]]},{"id":"ca3abeeb.5eb49","type":"inject","z":"d0661cff.7e5c6","name":"disabled","topic":"","payload":"null","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":240,"wires":[["cb298c38.2b1ef"]]},{"id":"b9c64e5b.189a8","type":"comment","z":"d0661cff.7e5c6","name":"Automation Mode Stubs","info":"Use these injects to override the the value of input_select.automation_mode. Use the \"disable\" to resume using the value from home assistant.","x":120,"y":40,"wires":[]},{"id":"fa035f14.05298","type":"switch","z":"d0661cff.7e5c6","name":"STUB SWITCH","property":"automation_mode_stub","propertyType":"flow","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":360,"wires":[["5229d824.87a788"],["e829da80.1de988"]]},{"id":"5229d824.87a788","type":"api-current-state","z":"d0661cff.7e5c6","name":"input_select.automation_mode","server":"a86c4410.e2a568","version":1,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"includes","override_topic":false,"entity_id":"input_select.automation_mode","state_type":"str","state_location":"automation_mode","override_payload":"msg","entity_location":"","override_data":"none","blockInputOverrides":false,"x":970,"y":320,"wires":[["92ab5997.22abb8"]]},{"id":"e829da80.1de988","type":"change","z":"d0661cff.7e5c6","name":"USE STUB","rules":[{"t":"set","p":"automation_mode","pt":"msg","to":"automation_mode_stub","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":380,"wires":[["92ab5997.22abb8"]]},{"id":"92ab5997.22abb8","type":"switch","z":"d0661cff.7e5c6","name":"","property":"automation_mode","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":380,"wires":[["bc5b3bf0.db91b8","79827f19.ecf97","2b9d0c4b.87ff64"],[]]},{"id":"799d74d.ef6c28c","type":"api-current-state","z":"d0661cff.7e5c6","name":"Light Level > 100","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"100","halt_if_type":"num","halt_if_compare":"lt","override_topic":false,"entity_id":"sensor.hue_201_lux","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1530,"y":200,"wires":[["b88d1269.9bb63"],[]]},{"id":"b88d1269.9bb63","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn On Garage Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_on","entityId":"group.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":200,"wires":[[]]},{"id":"1d6a453e.cf03cb","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn On Garage Fan","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_on","entityId":"switch.ikea_outlet_103","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1740,"y":260,"wires":[[]]},{"id":"b64bd49d.544a28","type":"api-current-state","z":"d0661cff.7e5c6","name":"Temp > 76","server":"a86c4410.e2a568","version":1,"outputs":2,"halt_if":"76","halt_if_type":"num","halt_if_compare":"gt","override_topic":false,"entity_id":"sensor.hue_201_temp","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","blockInputOverrides":false,"x":1510,"y":260,"wires":[["1d6a453e.cf03cb"],[]]},{"id":"bc5b3bf0.db91b8","type":"ha-wait-until","z":"d0661cff.7e5c6","name":"Wait Until No Motion","server":"a86c4410.e2a568","outputs":1,"entityId":"binary_sensor.hue_201_motion","entityIdFilterType":"exact","property":"state","comparator":"is","value":"off","valueType":"str","timeout":0,"timeoutType":"num","timeoutUnits":"seconds","entityLocation":"","entityLocationType":"none","checkCurrentState":true,"blockInputOverrides":true,"x":1340,"y":440,"wires":[["e4177f42.5aa4f"]]},{"id":"ad7336a1.813cd8","type":"trigger","z":"d0661cff.7e5c6","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"5","extend":true,"units":"min","reset":"","bytopic":"all","name":"","x":1730,"y":440,"wires":[["9434e2e.0c5142","e36df48e.d84e38","689e19a9.739718","24f06ab5.aac606"]]},{"id":"9434e2e.0c5142","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn Off Garage Lights","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"homeassistant","service":"turn_off","entityId":"group.garage_lights","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":440,"wires":[[]]},{"id":"e36df48e.d84e38","type":"api-call-service","z":"d0661cff.7e5c6","name":"Turn Off Garage Fan","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"switch","service":"turn_off","entityId":"switch.ikea_outlet_103","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1960,"y":500,"wires":[[]]},{"id":"689e19a9.739718","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"armed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1940,"y":560,"wires":[[]]},{"id":"4d30744e.7f095c","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":690,"y":180,"wires":[["393d4719.97f458"]]},{"id":"393d4719.97f458","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"armed","pt":"flow","to":"true","tot":"bool"},{"t":"set","p":"1_hr_disable","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[[]]},{"id":"79827f19.ecf97","type":"switch","z":"d0661cff.7e5c6","name":"Is Armed?","property":"armed","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1330,"y":300,"wires":[["799d74d.ef6c28c","b64bd49d.544a28","544de507.8e8a3c","9b991c1d.8b7e5"]]},{"id":"2b9d0c4b.87ff64","type":"change","z":"d0661cff.7e5c6","name":"Reset","rules":[{"t":"set","p":"reset","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1370,"y":380,"wires":[["ad7336a1.813cd8"]]},{"id":"544de507.8e8a3c","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"armed","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":320,"wires":[[]]},{"id":"4345b8c3.db47e8","type":"server-events","z":"d0661cff.7e5c6","name":"","server":"a86c4410.e2a568","event_type":"call_service","exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":830,"y":500,"wires":[["ed082627.fbb288"]]},{"id":"ed082627.fbb288","type":"switch","z":"d0661cff.7e5c6","name":"1 hour disable","property":"payload.event.service_data.entity_id","propertyType":"msg","rules":[{"t":"eq","v":"script.disable_garage_motion_1_hr","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1020,"y":500,"wires":[["2b9d0c4b.87ff64","c42c78d9.1ce6b8"]]},{"id":"5e002aca.e0d7a4","type":"switch","z":"d0661cff.7e5c6","name":"","property":"1_hr_disable","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":490,"y":360,"wires":[["fa035f14.05298"]]},{"id":"c42c78d9.1ce6b8","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"1_hr_disable","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":600,"wires":[["1fa1c63.26ab63a"]]},{"id":"1fa1c63.26ab63a","type":"trigger","z":"d0661cff.7e5c6","op1":"","op2":"0","op1type":"nul","op2type":"str","duration":"60","extend":false,"units":"min","reset":"","bytopic":"all","name":"","x":1290,"y":600,"wires":[["278d6339.de612c"]]},{"id":"278d6339.de612c","type":"change","z":"d0661cff.7e5c6","name":"","rules":[{"t":"set","p":"1_hr_disable","pt":"flow","to":"false","tot":"bool"},{"t":"set","p":"armed","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":600,"wires":[["bc5b3bf0.db91b8"]]},{"id":"9b991c1d.8b7e5","type":"api-call-service","z":"d0661cff.7e5c6","name":"Tablet On","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_on","entityId":"light.lenovo_tablet_701_backlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1500,"y":140,"wires":[[]]},{"id":"24f06ab5.aac606","type":"api-call-service","z":"d0661cff.7e5c6","name":"Tablet Off","server":"a86c4410.e2a568","version":1,"debugenabled":false,"service_domain":"light","service":"turn_off","entityId":"light.lenovo_tablet_701_backlight","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":1920,"y":380,"wires":[[]]},{"id":"2eb2e6e.51dc61a","type":"inject","z":"d0661cff.7e5c6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1300,"y":680,"wires":[["278d6339.de612c"]]},{"id":"e4177f42.5aa4f","type":"switch","z":"d0661cff.7e5c6","name":"","property":"1_hr_disable","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1530,"y":440,"wires":[["ad7336a1.813cd8"]]}]